/* CSS for Stats section */

/* Genereal styles */
.stats-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.stats-container {
    padding: 16px;
    border: 1px #000 solid;
    border-radius: 15px;
    text-align: center;
    transition-duration: .5s;
    visibility: hidden;
}
.stats-container:hover {
    background-color: #203260;
    transition-duration: .5s;

}
.stats-container:hover .stats-content h3,
.stats-container:hover .stats-content p{
    color: #fff;
    transition-duration: .5s;
}

/* mobile responsiveness */
@media(max-width: 767px) {
    .stats-container {
        margin-bottom: 30px;
    }
}