/* CSS for Stats section */

/* Genereal styles */
.stats-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:  #252931;
}
.stats-container {
    padding: 16px;
    border-radius: 15px;
    text-align: center;
    transition-duration: .5s;
    visibility: hidden;
}

.stats-container .stats-content h3 {
    font-size: 45px
}

.stats-container .stats-content h3,
.stats-container .stats-content p{
    color: #fff;
    transition-duration: .5s;
}
.space {
    display: none;
}

/* mobile responsiveness */
@media(max-width: 767px) {
    .stats-container {
        margin-bottom: 30px;
    }
}

@media(min-width: 767px) and (max-width:991px){
    .space {
        display: inline;
    }
}