<div class="stats-section full-width" id="stats">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="stats-container">
                    <div class="stats-content">
                        <h3>1200-1900 TPS</h3>
                        <p>Faster than ETH and more secure than EOS/TRON</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="stats-container">
                    <div class="stats-content">
                        <h3>$60 million</h3>
                        <p>USD trading volume per day in xx of xx</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="stats-container">
                    <div class="stats-content">
                        <h3>250,000+</h3>
                        <p>Token holders worldwide in xx of xx</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="stats-container">
                    <div class="stats-content">
                        <h3>3,000+</h3>
                        <p>Developers in global TRUE tech community</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
