<!--Main header that is fixed to the top of the page-->
<header class="header-section full-width" id="header">
  <div class="wrap" [@divState]='state'>
    <div class="container" id="header-main">
      <div class="row">
        <!--Logo section-->
        <div class="col-xs-2 logo-container">
          <div class="logo"> 
            <a href="#">
              <!--<img [@logoBlackState]='state' src="http://clarkeglobal.co/truechain/assets/truechain-logo-black.png">-->
              <!--<img [@logoWhiteState]='state' src="http://clarkeglobal.co/truechain/assets/truechain-logo-white.png">-->
              <img [@logoBlackState]='state' src="../assets/truechain-logo-black.png">
              <img [@logoWhiteState]='state' src="../assets/truechain-logo-white.png">
            </a>
          </div>
        </div>
        <!--Navigation-->
        <div class="col-xs-10 header-nav hide-on-init" animateOnScroll animationName="animated fadeIn">
            <div class="navigation">
              <ul class="nav nav-tabs">
                <li>
                  <a href="#what" [ngClass]="{'active': currentActive === 2, 'navTop': state == 'inactive', 'navNotTop': state == 'active'}"
                  ><strong>What are we?</strong></a>
                </li>
                <li>
                  <a href="#about" [ngClass]="{'active': currentActive === 3, 'navTop': state == 'inactive', 'navNotTop': state == 'active'}"
                  ><strong>About</strong></a>
                </li>
                <li>
                  <a href="#why" [ngClass]="{'active': currentActive === 4, 'navTop': state == 'inactive', 'navNotTop': state == 'active'}"
                  ><strong>Why TrueChain?</strong></a>
                </li>
                <li>
                  <a href="#use-cases" [ngClass]="{'active': currentActive === 5, 'navTop': state == 'inactive', 'navNotTop': state == 'active'}"
                  ><strong>Use cases</strong></a>
                </li>
                <li>
                  <a href="#case-studies" [ngClass]="{'active': currentActive === 6, 'navTop': state == 'inactive', 'navNotTop': state == 'active'}"
                  ><strong>Case Studies</strong></a>
                </li>
                <li>
                  <a href="#roadmap" [ngClass]="{'active': currentActive === 7, 'navTop': state == 'inactive', 'navNotTop': state == 'active'}"
                  ><strong>Roadmap</strong></a>
                </li>
                <li>
                  <a href="#partners" [ngClass]="{'active': currentActive === 8, 'navTop': state == 'inactive', 'navNotTop': state == 'active'}"
                  ><strong>Partners</strong></a>
                </li>
                <li>
                  <a href="#download" [ngClass]="{'active': currentActive === 9, 'navTop': state == 'inactive', 'navNotTop': state == 'active'}"
                  ><strong>Download</strong></a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>