/* Main Header Styles */

/* General Styles */
.header-section {
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, 0) no-repeat center;
    padding: 0px 0 0px 0;
}

.header-nav { 
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Logo styles */

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img {
    max-height: 80px;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo span {
    font-size: 20px;
    color: #252932;
}

/* Navigation styles */
.nav {
    border-bottom: none;
    display: flex;
    justify-content: space-around;
}

.nav-tabs li a {
    border: none;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
}
.nav-tabs li {
    padding: 0px;
}
.nav-tabs li.lang {
    padding-top: 9px;
}
.nav-tabs li a:hover {
    border-bottom: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
}
.nav-tabs li a:link{ 
    background-color: rgba(0, 0, 0, 0);
}
.active {
    color: rgb(87, 134, 182) !important;
}
.navTop {
    color: #fff;
    background-color: rgba(0,0,0,0) !important;
}
.navTop.activeAbout {
    color: #000 !important;
}
.navNotTop {
    color: #252932;
}
.navNotTop.activeAbout {
    color: rgb(87, 134, 182) !important;
}
li a:hover.navNotTop {
    color: rgb(87, 134, 182) !important;
}
.activeLanguage {
    font-weight: bold;
}


