<!--Main header that is fixed to the top of the page-->
<header class="header-section full-width" id="header">
    <div class="container" id="header-main">
      <div class="row">
        <!--Logo section-->
        <div class="col-xs-3 logo-container">
          <div class="logo"> 
            <a href="#">
              <img src="../assets/truechain-logo.png">
            </a>
          </div>
        </div>
        <!--Navigation-->
        <div class="col-xs-9 header-nav">
            <div class="navigation">
              <ul class="nav nav-tabs">
                <li>
                  <a href="#why"><strong>Why TrueChain?</strong></a>
                </li>
                <li>
                  <a href="#what"><strong>What are we?</strong></a>
                </li>
                <li>
                  <a href="#about"><strong>About us</strong></a>
                </li>
                <li>
                  <a href="#use-cases"><strong>Use cases</strong></a>
                </li>
                <li>
                  <a href="#achievements"><strong>Achievements</strong></a>
                </li>
                <li>
                  <a href="#roadmap"><strong>Roadmap</strong></a>
                </li>
                <li>
                  <a href="#partners"><strong>Partners</strong></a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </header>