<!--Footer section-->
<footer class="footer ">
  <div class="footer-wrap container">
    <!--Footer top subsection-->
    <div class="footer-top">
      <div class="row">
        <!--Back to top icon-->
        <div class="col-xs-12 back-to-top text-center">
          <a href="#">
            <i class="fa fa-chevron-up fa-2x "></i>
          </a>
        </div>
        <!-- Footer header -->
        <div class="footer-header">
          <img src="../assets/truechain-logo-footer.png" alt="truechain logo footer">
        </div>
        <!--developer section -->
        <div class="col-12">
          <div class="developer">
            <!--developer items-->
            <div class="developer-content">
              <h5 *ngIf="english">Developer</h5>
              <h5 *ngIf="chinese">开发者</h5>
              <h5 *ngIf="korean">개발자</h5>
              <div class="developer-items">
                <a href="https://arxiv.org/abs/1805.01457" target="_blank">
                  <button class="btn btn-primary">
                    <i class="far fa-file fa-2x"></i>
                    <p *ngIf="english">Yellow Paper</p>
                    <p *ngIf="chinese">黄皮书</p>
                    <p *ngIf="korean">노란 종이</p>
                  </button>
                </a>
                <a href="https://github.com/truechain" target="_blank">
                  <button class="btn btn-primary">
                    <i class="fab fa-github fa-2x"></i>
                    <p>GitHub</p>
                  </button>
                </a>
                <a href="https://stellar.truechain.pro" target="_blank">
                  <button class="btn btn-primary">
                    <i class="fas fa-signal fa-2x"></i>
                    <p>Stellar</p>
                  </button>
                </a>
                <a href="http://doc.truechain.pro/center-en/1091414" target="_blank">
                  <button class="btn btn-primary">
                    <i class="far fa-file-alt fa-2x"></i>
                    <p *ngIf="english">Document</p>
                    <p *ngIf="chinese">文档中心</p>
                    <p *ngIf="korean">문서</p>
                  </button>
                </a>
                <a href="https://www.truescan.network/" target="_blank">
                  <button class="btn btn-primary">
                    <i class="fas fa-chart-area fa-2x"></i>
                    <p>Truescan</p>
                  </button>
                </a>
<!--                <a href="https://dev.truedapp.net/" target="_blank">-->
<!--                  <button class="btn btn-primary">-->
<!--                    <i class="fas fa-code fa-2x"></i>-->
<!--                    <p *ngIf="english">Developer</p>-->
<!--                    <p *ngIf="chinese">开发者平台</p>-->
<!--                    <p *ngIf="korean">개발자</p>-->
<!--                  </button>-->
<!--                </a>-->
                <a href="https://webwallet.truechain.network/" target="_blank">
                  <button class="btn btn-primary">
                    <img class="fab-true" src="../../assets/icon/true.png" >
                    <p *ngIf="english">True Wallet</p>
                    <p *ngIf="chinese">True钱包</p>
                    <p *ngIf="korean">진정한 지갑</p>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--Social media-->
        <div class="col-lg-6">
          <div class="social-media">
            <div class="social-content">
              <div class="social-header">
                <!--<img src="../assets/truechain-logo-footer.png" alt="truechain logo footer"><span> Official SNS Platform</span>-->
                <h5 *ngIf="english">Official SNS Platform</h5>
                <h5 *ngIf="chinese">社交平台</h5>
                <h5 *ngIf="korean">공식 SNS 플랫폼</h5>
              </div>
              <div class="social-media-row">
                <a href="https://twitter.com/truechaingroup/" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://t.me/truechainglobal" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
                <a href="https://www.facebook.com/TrueChaingroup/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.reddit.com/r/truechain/" target="_blank"><i class="fab fa-reddit fa-2x"></i></a>
                <a href="https://medium.com/@truechaingroup" target="_blank"><i class="fab fa-medium fa-2x"></i></a>
                <a href="https://www.youtube.com/channel/UCsKSh9TPpYCZwHFn4lzhmFg?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
                <a href="https://open.kakao.com/o/ggrTb0pb" target="_blank"><img class="fab-talk" src="/assets/icon/talk.png" ></a>
                <a href="https://blog.naver.com/wechainup" target="_blank"><img class="fab-talk" src="/assets/icon/N.png" ></a>
                <a *ngIf="chinese" href="https://www.weibo.com/lindaliang/profile?rightmod=1&wvr=6&mod=personnumber&is_all=1" target="_blank"><i class="fab fa-weibo fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--TrueChain Guides-->
        <div class="col-lg-6">
          <div class="tech-guides">
            <!--Mining-->
            <div class="mining-content">
              <h5 *ngIf="english">TrueChain Mining Guides</h5>
              <h5 *ngIf="chinese">矿工指南</h5>
              <h5 *ngIf="korean">TrueChain 채굴가이드</h5>
              <div class="mining-buttons row">
                <a
                  href="http://doc.truechain.pro/center-en/1095871"
                  target="_blank"
                >
                  <button class="btn btn-primary">
                    <!-- <i class="fab fa-docker fa-2x"></i> -->
                    <img src="../assets/icon/CPU_3x.png" alt="" />
                    <p>CPU</p>
                  </button>
                </a>
                <a
                  href="http://doc.truechain.pro/center-en/1095872"
                  target="_blank"
                >
                  <button class="btn btn-primary">
                    <!-- <i class="fab fa-linux fa-2x"></i> -->
                    <img src="../assets/icon/GPU_3x.png" alt="" />
                    <p>GPU</p>
                  </button>
                </a>
                <a
                  href="http://doc.truechain.pro/center-en/1095873"
                  target="_blank"
                >
                  <button class="btn btn-primary">
                    <!-- <i class="fab fa-windows fa-2x"></i> -->
                    <img src="../assets/icon/miner_3x.png" alt="" />
                    <p *ngIf="chinese">矿工</p>
                    <p *ngIf="english">Miner</p>
                    <p *ngIf="korean">갱부</p>
                  </button>
                </a>
                <a
                  href="http://doc.truechain.pro/center-en/1099317"
                  target="_blank"
                >
                  <button class="btn btn-primary">
                    <!-- <i class="fab fa-apple fa-2x"></i> -->
                    <img src="../assets/icon/pool_3x.png" alt="" />
                    <p *ngIf="chinese">矿池</p>
                    <p *ngIf="english">Pool</p>
                    <p *ngIf="korean">깊은 곳</p>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer bottom subsection-->
    <div class="footer-bottom full-width">
      <!--Footer bottom content-->
      <div class="footer-bottom-content container">
        <div class="row" *ngIf="english">
          <div class="col-sm-5">
            <span>Copyright ⓒ TRUECHAIN FOUNDATION LTD. All Rights Reserved.</span>
          </div>
          <div class="col-sm-4">
            <span>Contact Us：</span><a href="mailto:partner@truechain.pro">partner@truechain.pro</a>
          </div>
          <div class="col-sm-3">
            <span>Sitemap: </span><a href="https://www.truechain.pro/sitemap.xml">XML</a>
          </div>
        </div>
        <div class="row" *ngIf="chinese">
          <div class="col-sm-5">
            <span>所有版权归ⓒTRUECHAIN FOUNDATION LTD所有。</span>
          </div>
          <div class="col-sm-4">
            <span>联系我们：</span><a href="mailto:partner@truechain.pro">partner@truechain.pro</a>
          </div>
          <div class="col-sm-3">
            <span>站点地图: </span><a href="https://www.truechain.pro/sitemap.xml">XML</a>
          </div>
        </div>
        <div class="row" *ngIf="korean">
          <div class="col-sm-5">
            <span>모든 저작권은 TRUECHAIN FOUNDATION LTD. 에게 있습니다</span>
          </div>
          <div class="col-sm-4">
            <span>연락망:</span><a href="mailto:partner@truechain.pro">partner@truechain.pro</a>
          </div>
          <div class="col-sm-3">
            <span>Sitemap: </span><a href="https://www.truechain.pro/sitemap.xml">XML</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
