<div class="industry-section background-secondary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="industry-text pull-right hide-on-init"
                    animateOnScroll
                    animationName="animated fadeIn"
                    *ngIf="english">
                    <h2>Industry Leaders</h2>
                    <p><strong>First</strong> public chain to implement fruit chain,
                        upgrading traditional PoW to fPoW + prevents Selfish Mining Attacks (25% Attack).</p>
                    <p>TrueChain replaced the ETHash with TrueHash, the world’s <strong>first</strong> fundamentally
                        ASIC-resistant algorithm.</p>
                    <a routerLink="/about">
                        <button class="btn btn-secondary btn-lg">
                            Learn More
                        </button>
                    </a>
                </div>
                <div class="industry-text pull-right hide-on-init"
                    animateOnScroll
                    animationName="animated fadeIn"
                    *ngIf="chinese">
                    <h2>行业领军者</h2>
                    <p>首个应用水果链（fruitchain)技术的公链。将传统的PoW共识算法升级为fPoW算法，并可防止自私挖矿攻击（25％攻击)。</p>
                    <p>初链用TrueHash取代了ETHash。TrueHash是世界上第一个从根本上抵抗ASIC的挖矿算法。</p>
                    <a routerLink="/cn/about">
                        <button class="btn btn-secondary btn-lg">了解更多详情</button>
                    </a>
                </div>
                <div class="industry-text pull-right hide-on-init"
                    animateOnScroll
                    animationName="animated fadeIn"
                    *ngIf="korean">
                    <h2>업계 선두 주자</h2>
                    <p>트루체인은 프룻체인 기술을 기존의 POW 기술과 접목시켜 fPoW+로 업그레이드했으며 이로써 Selfish Mining 공격을 25% 방어합니다. </p>
                    <p>트루체인은 기존의 이더해시를 ASIC에 근본적으로 저항하는 세계 최초의 채굴 알고리즘인 트루해시로 대체해 전체 네트워크의 보안성을 높입니다.</p>
                    <a href="/kr/about">
                        <button class="btn btn-secondary btn-lg">더 알아보기</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
