<div class="about-section full-width" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="about-image pull-left">
                    <img src="" alt="about truechain">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="about-text pull-right">
                    <h2>What is TrueChain?</h2>
                    <p>TrueChain is the world's first public chain that implemented 
                        fPoW+ PBFT hybrid consensus and has a strong global open source 
                        developer community supporting it.</p>
                    <p>TrueChain provides the underlying public blockchain infrastructure 
                        with high performance and security for decentralized applications 
                        and financial transactions.</p>
                    <a href="#">
                        <button class="btn btn-primary">
                            Learn More
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>