<div class="about-section background-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 image">
                <div class="about-image hide-on-init" animateOnScroll animationName="animated fadeIn">
                    <!-- <img src="http://clarkeglobal.co/truechain/assets/about-image.jpg" alt="about truechain"> -->
                    <img src="http://clarkeglobal.co/truechain/assets/about-image.jpg" alt="about truechain">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text pull-right hide-on-init" animateOnScroll animationName="animated fadeInRight">
                    <h2>Industry Leaders</h2>
                    <p><strong>First</strong> public chain to implement fruit chain, 
                        upgrading traditional PoW to fPoW + prevents Selfish Mining Attacks (25% Attack).</p>
                    <p>TrueChain replaced the ETHash with TrueHash, the world’s <strong>first</strong> fundamentally 
                        ASIC-resistant algorithm which changes every 3 months.</p>
                    <a (click)="getContact()">
                        <button class="btn btn-secondary btn-lg">
                            Get Started
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>