/* About section CSS */

.about-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-image {
    width: 100%;
}
.about-image {
    max-width: 500px;
}
.about-image img{
    width: 100%;
}
.about-text h2 {
    margin-bottom: 40px;
}
.about-text button {
    color: #000;
    margin-top: 30px;
    border-color: #000;
}
.about-text button:hover {
    color: #fff;
    margin-top: 30px;
    background-color: #203260;
    border-color: #000;
}
.about-image img {
    max-width: 500px;
    height: 400px;
    object-fit: cover;
    box-shadow: 10px 10px 15px grey;
}

/* mobile responsiveness */

@media(max-width: 1200px) {
    .row {
        display: flex;
        flex-flow: column-reverse; 
        justify-content: center;
    }
    .about-text {
        margin-bottom: 40px;
    }
    .col-lg-6.image {
        text-align: center;
    }
}