<!--Hero section-->
<section class="hero-section">
    <!--Hero wrap-->
    <div class="hero-wrap">
      <!--Particle effects background-->
      <div id="particles-js"></div>
      <!--Hero section content-->
      <div class="content-wrap row">
        <div class="col-md-5">
          <div class="hero-content">
            <!-- <img [@enterLogo] src="http://clarkeglobal.co/truechain/assets/truechain-logo-only-white-no-background.png" alt="TrueChain"> -->
            <!-- <img [@enterLogo] src="../assets/truechain-logo-only-white-no-background.png" alt="TrueChain"> -->
            <h1 [@enterHeader]><strong style="color: #fff">TrueChain</strong></h1>
            <p [@enterParagraph]>Building The Infrastructure For The Future of Decentralized Applications and Finance</p>
            <a [@enterButton] href="#why"><button class="btn btn-primary btn-lg">Learn More</button></a> 
          </div>
        </div>
        <div class="col-md-7">
          <div class="hero-video pull-right hide-on-init" animateOnScroll animationName="animated fadeInRight">
              <video controls autoplay>
                  <source src="https://qiniu.truescan.net/video/ad-zh.mp4" type="video/mp4" />
              Your browser does not support the video.
              </video>
          </div>
        </div>
      </div>
    </div>
  </section>