/* Hero styles */

/* general section styles */
.hero-section {
    height: 100vh;
    background: #e9e9e9 center no-repeat;
    text-align: Left;
    /* background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url("/assets/images/hamoud-digital-hero-background.jpg"); */
    background-color: #203260;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 660px !important;
}

/* wrap styles */
.hero-wrap {
    height: inherit;
    width: inherit;
    height: 100%;
}

/* underlying particle background styles */
#particles.js {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

/* Hero content styles */
.content-wrap {
    position: absolute;
    top: 30%; 
    width: fit-content;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.hero-content {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.hero-content img {
    max-width: 200px;
    pointer-events: none;
}
h1, p {
    color: #fff;
    position: relative;
}
h1 {
    font-size: 60px;
    margin-bottom: 25px;
}
p {
    max-width: 400px;
    font-size: 25px;
}
.btn-lg {
    margin-top: 30px;
    border-width: 2px;
    border-color: #000;
}
.btn-lg:hover {
    border-color: #fff;
}

/* Hero Video Styles */

.col-lg-7 {
    width: 100% !important;
}

.hero-video {
    float: right;
    max-width: 750px;
    width: 100% !important;
}
.hero-video video{
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 15px #000;
}

/* Mobile responsiveness */
@media(max-width: 991px) {
   .hero-section {
       height: auto;
       overflow: visible;
       padding-bottom: 60px;
       min-height: 800px !important;
       max-height: 980px !important;
   }

    .hero-wrap {
       height: 160vw;
    }
    .hero-content {
        text-align: center;
        margin-bottom: 50px;
    }
    .hero-video video{
        width: 100%;
        height: auto;
        box-shadow: 10px 10px 15px #000;
    }
}

@media(max-width: 360px) {
    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 2.5rem;
    }
}




