/* Hero styles */

/* general section styles */
.hero-section {
    height: 100vh;
    background: #e9e9e9 center no-repeat;
    text-align: center;
    /* background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url("/assets/images/hamoud-digital-hero-background.jpg"); */
    background-color: #252932;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* wrap styles */
.hero-wrap {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* underlying particle background styles */
#particles.js {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

/* Hero content styles */
.hero-content {
    position: absolute; 
    top: 40%; 
    left: 0; 
    width: 100%;
}
h1, p {
    color: #fff;
    position: relative;
}
.btn-lg {
    margin-top: 30px;
    border-width: 2px;
}


