<div class="download-section background-secondary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <div class="download-text pull-right">
                    <h2>Download TrueChain's Light Wallet App</h2>
                    <div class="download-buttons">
                        <a href="https://dapp.truedapp.net/appdown/" target="_blank" class="app-button">
                            <button class="btn btn-secondary btn-lg">
                                <i class="fab fa-apple fa-2x"></i>
                                <span>iOS</span>
                            </button>
                            <!-- <img src="../assets/app-store.png" alt="App Store"> -->
                        </a>
                        <a href="https://dapp.truedapp.net/appdown/" target="_blank" class="app-button">
                            <button class="btn btn-secondary btn-lg">
                                <i class="fab fa-android fa-2x"></i>
                                <span>Android</span>
                            </button>
                            <!-- <img src="../assets/google-store.png" alt="Google Play Store"> -->
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-centered">
                <div class="download-image hide-on-init center-block" animateOnScroll animationName="animated fadeIn">
                    <img src="http://clarkeglobal.co/truechain/assets/phone.png" alt="TrueChain App">
                </div>
            </div> -->
        </div>
    </div>
</div>