<div class="download-section background-secondary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 hide-on-init" animateOnScroll animationName="animated fadeInUp">
                <div class="download-text pull-right">
                    <h2 *ngIf="english">Download TrueChain's Light Wallet App</h2>
                    <h2 *ngIf="chinese">下载轻钱包（Light Wallet）应用程序</h2>
                    <div class="download-buttons">
                        <a href="https://dapp.truedapp.net/appdown/" target="_blank" class="app-button">
                            <button class="btn btn-secondary btn-lg">
                                <i class="fab fa-apple fa-2x"></i>
                                <span>iOS</span>
                            </button>
                        </a>
                        <a href="https://dapp.truedapp.net/appdown/" target="_blank" class="app-button">
                            <button class="btn btn-secondary btn-lg">
                                <i class="fab fa-android fa-2x"></i>
                                <span>Android</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
