<div class="goals-section background-secondary">
    <div class="container" *ngIf="english">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">Our Goal</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">Build a bockchain and community to accelerate the development of a decentralized economy</p>
            </div>
        </div>
        <div class="row goals-container">
            <div class="col-sm-6 hide-on-init first" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="far fa-chart-bar fa-5x"></i>
                </div>
                <div class="goal">
                    <p>With industry-leading technology, TrueChain aims to provide an efficient and well-governed blockchain
                        for the decentralized economy. We came up with the first hybrid consensus incentive model to use economics
                        as a drive to uphold and improve the chain. Meanwhile, we have also created a stable gas fee mechanism to lower
                        the cost for the developers and operators of dApps, and to make the blockchain more public.</p>
                </div>
            </div>
            <div class="col-sm-6 hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="fas fa-users fa-5x"></i>
                </div>
                <div class="goal">
                    <p>Aside from a platform, TrueChain has built an all-inclusive community to attract worldwide developers and
                        entrepreneurs to be part of the TrueChain movement to building the future decentralized economy. Not only
                        does TrueChain have a global developer community, we also have a library of open-sourced products that are handy
                        for the developers.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="chinese">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">我们的目标</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">建立一个可加速去中心化经济发展的区块链和社区</p>
            </div>
        </div>
        <div class="row goals-container">
            <div class="col-sm-6 hide-on-init first" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="far fa-chart-bar fa-5x"></i>
                </div>
                <div class="goal">
                    <p>凭借业界领先的技术，初链在为去中心化经济提供有效且治理良好的区块链。我们提出了第一个混合共识激励机制，将经济效益作为维护和改善链上治理的动力。
                        同时，我们还建立了稳定的燃料费机制，以降低去中心化程序开发商和运营商的成本，并使区块链更加公开。</p>
                </div>
            </div>
            <div class="col-sm-6 hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="fas fa-users fa-5x"></i>
                </div>
                <div class="goal">
                    <p>除平台之外，初链还建立了一个包罗万象的社区，以吸引全球开发商和企业家参与初链治理，以加速建立未来的去中心化经济。 初链不仅拥有全球开发者社区，
                        还拥有一个开源产品库，可供开发人员使用。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="korean">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">자사의 목표</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">탈중앙 경제의 발전을 가속화를 위해 블록체인과 커뮤니티를 구축하기</p>
            </div>
        </div>
        <div class="row goals-container">
            <div class="col-sm-6 hide-on-init first" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="far fa-chart-bar fa-5x"></i>
                </div>
                <div class="goal">
                    <p>업계 최고의 기술을 통해 TrueChain은 탈중앙 경제에 효율적이고 잘 통제된 블록체인을 제공하는 것을 목표로 삼고 있습니다. 
                        저희는 체인을 유지하고 개선하는 데 경제학적 이론을 그 기반으로 하는 최초의 하이브리드 합의 인센티브 모델을 고안해 냈습니다. 
                        저희는 안정적인 가스 수수료 메커니즘을 이용해 dApp 개발자와 운영자의 비용을 낮추고 블록체인을 보다 대중화 했습니다.</p>
                </div>
            </div>
            <div class="col-sm-6 hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="fas fa-users fa-5x"></i>
                </div>
                <div class="goal">
                    <p>플랫폼 이외에도 TrueChain은 전 세계 개발자와 기업가가 TrueChain 운동의 일원으로 참여하여 미래의 분산 경제를 구축하는 포괄적인
                         커뮤니티를 구축했습니다. TrueChain에는 글로벌 개발자 커뮤니티 뿐만 아니라 개발자에게 편리한 오픈 소스 제품의 라이브러리 또한 
                         보유하고 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>
