/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #myModal .modal-content {
    background-color: #252932; 
    margin: auto;
    padding: 50px 20px 50px 20px;
    border: 1px solid #888;
    max-width: 800px;
    width: 90%;
  }
  
  #myModal .modal-content img {
    width: 300px;
    height: auto;
    object-fit: contain;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* The Close Button */
  #myModal .close {
    color: #fff !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -20px;
  }
  
  #myModal .close:hover,
  #myModal .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

  #myModal .container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  /* Contact Header */

  .contact-header {
    text-align: center;
  }
  .contact-header img {
    max-width: 200px;
    margin-bottom: -50px;
    height: auto;
  }

   /* Contact Form */
  .contact-form {
      padding-top: 20px;
  }
  .form-button {
      text-align: center;
  } 
  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
      border: red 1px solid;
  }
  .help-block {
      color: red;
  }
  h2 {
    font-weight: 500;
    margin-bottom: 25px;
  }
  h2, p, span, label {
      color: #fff;
  }
  input, textarea {
    border-radius: 0;
    background-color: #252932;
    color: #fff;
  }
  .thank-you-block {
      margin-top: 30px;
      padding: 10px;
      border: 2px green solid;
  }
  .contact-btn {
    background-color: #203260;
    color: #fff;
  }
  .contact-btn {
    background-color: #203260;
    color: #fff;
  }
  .contact-btn:hover {
    background-color: #000;
    border-color: #fff;
  }
  .contact-btn.btn-disabled {
    background-color:rgba(0,0,0,0) !important;
    color: #000 !important;
    border-color:#000 !important;
  }
  .form-button {
    margin-top: 25px;
  }
  
  
  