<div class="team-section background-primary" *ngIf="english">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeIn">Active Contributors</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeIn">TrueChain has a global community of contributors who work on different aspects of developing
                    the infrastructure.</p>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <!-- <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">Research and Developers Community</h3>
            </div>
        </div> -->
        <div class="row team-container">
             <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Eric Zhang</h3>
                <h4>Board Director & Eco Development</h4>
                <ul>
                    <li>M.S. In Computer Science, Oxford University</li>
                    <li>Founder of DoraHacks</li>
                    <li>Researcher, CERN Open Lab (2013)</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Dylan Liu</h3>
                <h4>Board Director & Engineering Lead</h4>
                <ul>
                    <li>Cryptography expert</li>
                    <li>10+ years experience in development and system architecture</li>
                    <li>B.S. & M.S. Computer Science, Tsinghua University</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>James Cheng</h3>
                <h4>Board Director & Strategic Development</h4>
                <ul>
                    <li>Part-time research staff of Tsinghua University, Serial entrepreneur</li>
                    <li>Executive Committee of China Cloud System Pioneer Strategic Alliance</li>
                    <li>Foreign Expert of Thailand Crypto Beach Association</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Larry Lin</h3>
                <h4>Board Director &  Partnership Development</h4>
                <ul>
                    <li>Internet Marketing & Community Expert</li>
                    <li>Baidu Encyclopedia Operation</li>
                    <li>10+ Years Experience in Digital Advertising</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Kenny Zhou</h3>
                <h4>Board Director & Product Development</h4>
                <ul>
                    <li>Former co-founder & CTO at Honest Doctor</li>
                    <li>More than 10 years of experience in large-scale distributed systems and architectures and products</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Felix Cai</h3>
                <h4>Front End Engineering</h4>
                <ul>
                    <li>Youth Class, Xi’an Jiaotong University</li>
                    <li>Front End Hacker</li>
                    <li>First Prize, DoraHacks Autumn@Xi An 2017</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Ice Ming</h3>
                <h4>Integration</h4>
                <ul>
                    <li>10+ years experience in c/c++ development</li>
                    <li>Real time database products and digital currency transaction platform products expert</li>
                    <li>BitCoin and Ethereum wallet developer</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Seay (Wizard)</h3>
                <h4>Security Coordinator</h4>
                <ul>
                    <li>Lead, Alibaba attack and security lab</li>
                    <li>Author of “Code Audit: Architecture of Enterprise Web Security”</li>
                    <li>Host of well-known security blog cnseay.com</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Neol Zeng</h3>
                <h4>Senior R&D</h4>
                <ul>
                    <li>Algorithmic Engineer</li>
                    <li>Eight years of C language development experiences</li>
                    <li>Having many years of overseas R&D experiences</li>
                    <li>Former Director of R&D and Operation of Well-known Artificial Intelligence Projects</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Brian Liu</h3>
                <h4>Blockchain Evangelist</h4>
                <ul>
                    <li>MSc and B.S from Peking University</li>
                    <li>Author of "Blockchain: 101"</li>
                    <li>10+ working year experience in software development, leading and coaching high performing teams</li>
                    <li>Worked in IBM China Development Lab (CDL) High Performance Computing team and "LERO - The Irish Software Engineering Research Center" Distributed Systems research group</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Jimmy Zhao</h3>
                <h4>Strategic Partner</h4>
                <ul>
                    <li>Founder of ZBX (ZB Europe)</li>
                    <li>ZB Group Executive</li>
                    <li>Founder of ChainX</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Hillary Nguyen</h3>
                <h4>Vietnamese Partner</h4>
                <ul>
                    <li>A strategist, advisor, communicator, consultant, community influencer and speaker in blockchain, digital asset management</li>
                    <li>With diverse set of skills, Hillary executes her management role effectively into the new foundation of company in revolution</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Paulus Pham</h3>
                <h4>Vietnamese Community Partner</h4>
                <ul>
                    <li>Blockchain community management professional</li>
                    <li>Managers of some major blockchain user community in Vietnam</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Sun-Woo Chu</h3>
                <h4>Korean Strategic Partner</h4>
                <ul>
                    <li>Vice President, Korea International Finance Association</li>
                    <li>Element Founder & CEO</li>
                    <li>Former Money Today Innovation Strategy Team Asia Chief</li>
                    <li>Former One Asia Editor-in-Chief</li>
                    <li>Former Asia Today Multimedia Desk Editor/International Editor</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Pingping Wang</h3>
                <h4>Korean Strategic Partner</h4>
                <ul>
                    <li>Element Director, China Business</li>
                    <li>Money Today Innovation Strategy Team Reporter</li>
                    <li>One Asia Reporter</li>
                    <li>Asia Today Multimedia Desk & International Reporter</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Lin ChuiZhou</h3>
                <h4>Academician Advisor</h4>
                <ul>
                    <li>Academician of the Royal Swedish Academy of Sciences and Hong Kong Academy of Engineering Sciences</li>
                    <li>Former vice — principal of Hong Kong University of Science and technology and a former president of Industrial Technology Research Institute</li>
                    <li>Former Visiting professor of National University of Singapore,Tsinghua University, University of Science and Technology of China, Shanghai Jiaotong University and many prestigious Institutions at home and abroad</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Yushi Shen</h3>
                <h4>Strategic Advisor</h4>
                <ul>
                    <li>Secretary-General of China Cloud System Pioneer Strategic Alliance</li>
                    <li>BS, Electronic Engineering, Tsinghua University</li>
                    <li>MA, PH.D, computer science, University of California, San Diego</li>
                    <li>Researcher of Tsinghua and other prestigious universities</li>
                    <li>Strategic consultant for Microsoft</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="community background-secondary full-width">
        <div class="container team-group">
            <div class="row">
                <div class="sub-title-content">
                    <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">Community and Development</h3>
                </div>
            </div>
            <div class="row team-container">
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Jimmy Zhao</h3>
                    <h4>TrueChain Global Strategic Partner</h4>
                    <ul>
                        <li>ZB group executive and founder of ZBX (ZB Europe)</li>
                        <li>Founder of Cryptonord</li>
                        <li>Partner of Y investment</li>
                        <li>Founder of ChainX</li>
                        <li>Runs a 10,000-bitcoin fund</li>
                        <li>A well-known core figure in the blockchain industry in Europe</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Hillary Nguyen</h3>
                    <h4>TrueChain Vietnamese Partner</h4>
                    <ul>
                        <li>Managing partner of Alphawhale Capital</li>
                        <li>A Strategist, Advisor, Communicator, Consultant, community influencer and Speaker in Blockchain, Digital asset management</li>
                        <li>With diverse set of skills, Hillary executes her management role effectively into the new foundation of company in revolution</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Paulus Pham</h3>
                    <h4>TrueChain Vietnamese Partner</h4>
                    <ul>
                        <li>Blockchain community management professional</li>
                        <li>Managers of some major blockchain user community in Vietnam</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Sun-Woo Chu</h3>
                    <h4>TrueChain Strategic partner of Korea</h4>
                    <ul>
                        <li>Vice President, Korea International Finance Association</li>
                        <li>Element Founder & CEO</li>
                        <li>Former Money Today Innovation Strategy Team Asia Chief</li>
                        <li>Former One Asia Editor-in-Chief</li>
                        <li>Former Asia Today Multimedia Desk Editor/International Editor</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Pingping Wang</h3>
                    <h4>TrueChain Strategic Partner of Korea</h4>
                    <ul>
                        <li>Element Director, China Business</li>
                        <li>Money Today Innovation Strategy Team Reporter</li>
                        <li>One Asia Reporter</li>
                        <li>Asia Today Multimedia Desk & International Reporter</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">Advisors</h3>
            </div>
        </div>
        <div class="row team-container">
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Lin ChuiZhou</h3>
                <h4>Academician Consultant of TrueChain</h4>
                <ul>
                    <li>Academician of the Royal Swedish Academy of Sciences and Hong Kong Academy of Engineering Sciences</li>
                    <li>Former vice — principal of Hong Kong University of Science and technology and a former president of Industrial Technology Research Institute</li>
                    <li>Former Visiting professor of National University of Singapore,Tsinghua University, University of Science and Technology of China, Shanghai Jiaotong University and many prestigious Institutions at home and abroad</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Yushi Shen</h3>
                <h4>Advisor to TrueChain</h4>
                <ul>
                    <li>The Secretary-General of China Cloud System Pioneer Strategic Alliance</li>
                    <li>BS, Electronic Engineering, Tsinghua University</li>
                    <li>MA, PH.D, computer science, University of California, San Diego</li>
                    <li>Panelist for China’s “the Thousand Talents Plan”</li>
                    <li>Researcher of Tsinghua and other prestigious universities</li>
                    <li>Strategic consultant for Microsoft</li>
                </ul>
            </div>
        </div>
    </div>-->
</div>
<div class="team-section background-primary" *ngIf="chinese">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeIn">我们的团队: <i>全球社区</i></h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeIn">成员来自美国、越南、韩国、中国、欧洲等国家。</p>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <!-- <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">研究和开发者社区</h3>
            </div>
        </div> -->
        <div class="row team-container">
             <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Eric Zhang</h3>
                <h4>Board Director & Eco Development</h4>
                <ul>
                    <li>M.S. In Computer Science, Oxford University</li>
                    <li>Founder of DoraHacks</li>
                    <li>Researcher, CERN Open Lab (2013)</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Dylan Liu</h3>
                <h4>Board Director & Engineering Lead</h4>
                <ul>
                    <li>Cryptography expert</li>
                    <li>10+ years experience in development and system architecture</li>
                    <li>B.S. & M.S. Computer Science, Tsinghua University</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>James Cheng</h3>
                <h4>Board Director & Strategic Development</h4>
                <ul>
                    <li>Part-time research staff of Tsinghua University, Serial entrepreneur</li>
                    <li>Executive Committee of China Cloud System Pioneer Strategic Alliance</li>
                    <li>Foreign Expert of Thailand Crypto Beach Association</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Larry Lin</h3>
                <h4>Board Director &  Partnership Development</h4>
                <ul>
                    <li>Internet Marketing & Community Expert</li>
                    <li>Baidu Encyclopedia Operation</li>
                    <li>10+ Years Experience in Digital Advertising</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Kenny Zhou</h3>
                <h4>Board Director & Product Development</h4>
                <ul>
                    <li>Former co-founder & CTO at Honest Doctor</li>
                    <li>More than 10 years of experience in large-scale distributed systems and architectures and products</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Felix Cai</h3>
                <h4>Front End Engineering</h4>
                <ul>
                    <li>Youth Class, Xi’an Jiaotong University</li>
                    <li>Front End Hacker</li>
                    <li>First Prize, DoraHacks Autumn@Xi An 2017</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Ice Ming</h3>
                <h4>Integration</h4>
                <ul>
                    <li>10+ years experience in c/c++ development</li>
                    <li>Real time database products and digital currency transaction platform products expert</li>
                    <li>BitCoin and Ethereum wallet developer</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Seay (Wizard)</h3>
                <h4>Security Coordinator</h4>
                <ul>
                    <li>Lead, Alibaba attack and security lab</li>
                    <li>Author of “Code Audit: Architecture of Enterprise Web Security”</li>
                    <li>Host of well-known security blog cnseay.com</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Neol Zeng</h3>
                <h4>Senior R&D</h4>
                <ul>
                    <li>Algorithmic Engineer</li>
                    <li>Eight years of C language development experiences</li>
                    <li>Having many years of overseas R&D experiences</li>
                    <li>Former Director of R&D and Operation of Well-known Artificial Intelligence Projects</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Brian Liu</h3>
                <h4>Blockchain Evangelist</h4>
                <ul>
                    <li>MSc and B.S from Peking University</li>
                    <li>Author of "Blockchain: 101"</li>
                    <li>10+ working year experience in software development, leading and coaching high performing teams</li>
                    <li>Worked in IBM China Development Lab (CDL) High Performance Computing team and "LERO - The Irish Software Engineering Research Center" Distributed Systems research group</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Jimmy Zhao</h3>
                <h4>Strategic Partner</h4>
                <ul>
                    <li>Founder of ZBX (ZB Europe)</li>
                    <li>ZB Group Executive</li>
                    <li>Founder of ChainX</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Hillary Nguyen</h3>
                <h4>Vietnamese Partner</h4>
                <ul>
                    <li>A strategist, advisor, communicator, consultant, community influencer and speaker in blockchain, digital asset management</li>
                    <li>With diverse set of skills, Hillary executes her management role effectively into the new foundation of company in revolution</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Paulus Pham</h3>
                <h4>Vietnamese Community Partner</h4>
                <ul>
                    <li>Blockchain community management professional</li>
                    <li>Managers of some major blockchain user community in Vietnam</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Sun-Woo Chu</h3>
                <h4>Korean Strategic Partner</h4>
                <ul>
                    <li>Vice President, Korea International Finance Association</li>
                    <li>Element Founder & CEO</li>
                    <li>Former Money Today Innovation Strategy Team Asia Chief</li>
                    <li>Former One Asia Editor-in-Chief</li>
                    <li>Former Asia Today Multimedia Desk Editor/International Editor</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Pingping Wang</h3>
                <h4>Korean Strategic Partner</h4>
                <ul>
                    <li>Element Director, China Business</li>
                    <li>Money Today Innovation Strategy Team Reporter</li>
                    <li>One Asia Reporter</li>
                    <li>Asia Today Multimedia Desk & International Reporter</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Lin ChuiZhou</h3>
                <h4>Academician Advisor</h4>
                <ul>
                    <li>Academician of the Royal Swedish Academy of Sciences and Hong Kong Academy of Engineering Sciences</li>
                    <li>Former vice — principal of Hong Kong University of Science and technology and a former president of Industrial Technology Research Institute</li>
                    <li>Former Visiting professor of National University of Singapore,Tsinghua University, University of Science and Technology of China, Shanghai Jiaotong University and many prestigious Institutions at home and abroad</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Yushi Shen</h3>
                <h4>Strategic Advisor</h4>
                <ul>
                    <li>Secretary-General of China Cloud System Pioneer Strategic Alliance</li>
                    <li>BS, Electronic Engineering, Tsinghua University</li>
                    <li>MA, PH.D, computer science, University of California, San Diego</li>
                    <li>Researcher of Tsinghua and other prestigious universities</li>
                    <li>Strategic consultant for Microsoft</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="community background-secondary full-width">
        <div class="container team-group">
            <div class="row">
                <div class="sub-title-content">
                    <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">社区与发展</h3>
                </div>
            </div>
            <div class="row team-container">
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                  <h3>James Cheng</h3>
                  <h4>Head of Strategic Development</h4>
                  <ul>
                      <li>Part-time research staff of Tsinghua University, Serial entrepreneur</li>
                      <li>Executive Committee of China Cloud System Pioneer Strategic Alliance</li>
                      <li>Foreign Expert of Thailand Crypto Beach Association</li>
                  </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                  <h3>Larry Lin</h3>
                  <h4>Head of Business Development</h4>
                  <ul>
                      <li>Internet marketing community operation expert</li>
                      <li>Baidu encyclopedia operation</li>
                      <li>10+ years of digital advertising and internet industry</li>
                  </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                  <h3>Jimmy Zhao</h3>
                  <h4>TrueChain Global Strategic Partner</h4>
                  <ul>
                      <li>ZB group executive and founder of ZBX (ZB Europe)</li>
                      <li>Founder of Cryptonord</li>
                      <li>Partner of Y investment</li>
                      <li>Founder of ChainX</li>
                      <li>Runs a 10,000-bitcoin fund</li>
                      <li>A well-known core figure in the blockchain industry in Europe</li>
                  </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                  <h3>Hillary Nguyen</h3>
                  <h4>TrueChain Vietnamese Partner</h4>
                  <ul>
                      <li>Managing partner of Alphawhale Capital</li>
                      <li>A Strategist, Advisor, Communicator, Consultant, community influencer and Speaker in Blockchain, Digital asset management</li>
                      <li>With diverse set of skills, Hillary executes her management role effectively into the new foundation of company in revolution</li>
                  </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                  <h3>Paulus Pham</h3>
                  <h4>TrueChain Vietnamese Partner</h4>
                  <ul>
                      <li>Blockchain community management professional</li>
                      <li>Managers of some major blockchain user community in Vietnam</li>
                  </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                  <h3>Sun-Woo Chu</h3>
                  <h4>TrueChain Strategic partner of Korea</h4>
                  <ul>
                      <li>Vice President, Korea International Finance Association</li>
                      <li>Element Founder & CEO</li>
                      <li>Former Money Today Innovation Strategy Team Asia Chief</li>
                      <li>Former One Asia Editor-in-Chief</li>
                      <li>Former Asia Today Multimedia Desk Editor/International Editor</li>
                  </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                  <h3>Pingping Wang</h3>
                  <h4>TrueChain Strategic Partner of Korea</h4>
                  <ul>
                      <li>Element Director, China Business</li>
                      <li>Money Today Innovation Strategy Team Reporter</li>
                      <li>One Asia Reporter</li>
                      <li>Asia Today Multimedia Desk & International Reporter</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">顾问</h3>
            </div>
        </div>
        <div class="row team-container">
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
              <h3>Lin ChuiZhou</h3>
              <h4>Academician Consultant of TrueChain</h4>
              <ul>
                  <li>Academician of the Royal Swedish Academy of Sciences and Hong Kong Academy of Engineering Sciences</li>
                  <li>Former vice — principal of Hong Kong University of Science and technology and a former president of Industrial Technology Research Institute</li>
                  <li>Former Visiting professor of National University of Singapore,Tsinghua University, University of Science and Technology of China, Shanghai Jiaotong University and many prestigious Institutions at home and abroad</li>
              </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
              <h3>Yushi Shen</h3>
              <h4>Advisor to TrueChain</h4>
              <ul>
                  <li>The Secretary-General of China Cloud System Pioneer Strategic Alliance</li>
                  <li>BS, Electronic Engineering, Tsinghua University</li>
                  <li>MA, PH.D, computer science, University of California, San Diego</li>
                  <li>Panelist for China’s “the Thousand Talents Plan”</li>
                  <li>Researcher of Tsinghua and other prestigious universities</li>
                  <li>Strategic consultant for Microsoft</li>
              </ul>
            </div>
        </div>
    </div> -->
</div>
<div class="team-section background-primary" *ngIf="korean">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeIn">저희 팀: <i>세계적인 커뮤니티</i></h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeIn">미국, 베트남, 한국, 중국, 유럽 및 기타 국가에 있는 멤버들</p>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <!-- <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">연구 및 개발자 커뮤니티</h3>
            </div>
        </div> -->
        <div class="row team-container">
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Eric Zhang</h3>
                <h4>Board Director & Eco Development</h4>
                <ul>
                    <li>M.S. In Computer Science, Oxford University</li>
                    <li>Founder of DoraHacks</li>
                    <li>Researcher, CERN Open Lab (2013)</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Dylan Liu</h3>
                <h4>Board Director & Engineering Lead</h4>
                <ul>
                    <li>Cryptography expert</li>
                    <li>10+ years experience in development and system architecture</li>
                    <li>B.S. & M.S. Computer Science, Tsinghua University</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>James Cheng</h3>
                <h4>Board Director & Strategic Development</h4>
                <ul>
                    <li>Part-time research staff of Tsinghua University, Serial entrepreneur</li>
                    <li>Executive Committee of China Cloud System Pioneer Strategic Alliance</li>
                    <li>Foreign Expert of Thailand Crypto Beach Association</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Larry Lin</h3>
                <h4>Board Director &  Partnership Development</h4>
                <ul>
                    <li>Internet Marketing & Community Expert</li>
                    <li>Baidu Encyclopedia Operation</li>
                    <li>10+ Years Experience in Digital Advertising</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Kenny Zhou</h3>
                <h4>Board Director & Product Development</h4>
                <ul>
                    <li>Former co-founder & CTO at Honest Doctor</li>
                    <li>More than 10 years of experience in large-scale distributed systems and architectures and products</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Felix Cai</h3>
                <h4>Front End Engineering</h4>
                <ul>
                    <li>Youth Class, Xi’an Jiaotong University</li>
                    <li>Front End Hacker</li>
                    <li>First Prize, DoraHacks Autumn@Xi An 2017</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Ice Ming</h3>
                <h4>Integration</h4>
                <ul>
                    <li>10+ years experience in c/c++ development</li>
                    <li>Real time database products and digital currency transaction platform products expert</li>
                    <li>BitCoin and Ethereum wallet developer</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Seay (Wizard)</h3>
                <h4>Security Coordinator</h4>
                <ul>
                    <li>Lead, Alibaba attack and security lab</li>
                    <li>Author of “Code Audit: Architecture of Enterprise Web Security”</li>
                    <li>Host of well-known security blog cnseay.com</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Neol Zeng</h3>
                <h4>Senior R&D</h4>
                <ul>
                    <li>Algorithmic Engineer</li>
                    <li>Eight years of C language development experiences</li>
                    <li>Having many years of overseas R&D experiences</li>
                    <li>Former Director of R&D and Operation of Well-known Artificial Intelligence Projects</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Brian Liu</h3>
                <h4>Blockchain Evangelist</h4>
                <ul>
                    <li>MSc and B.S from Peking University</li>
                    <li>Author of "Blockchain: 101"</li>
                    <li>10+ working year experience in software development, leading and coaching high performing teams</li>
                    <li>Worked in IBM China Development Lab (CDL) High Performance Computing team and "LERO - The Irish Software Engineering Research Center" Distributed Systems research group</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Jimmy Zhao</h3>
                <h4>Strategic Partner</h4>
                <ul>
                    <li>Founder of ZBX (ZB Europe)</li>
                    <li>ZB Group Executive</li>
                    <li>Founder of ChainX</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Hillary Nguyen</h3>
                <h4>Vietnamese Partner</h4>
                <ul>
                    <li>A strategist, advisor, communicator, consultant, community influencer and speaker in blockchain, digital asset management</li>
                    <li>With diverse set of skills, Hillary executes her management role effectively into the new foundation of company in revolution</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Paulus Pham</h3>
                <h4>Vietnamese Community Partner</h4>
                <ul>
                    <li>Blockchain community management professional</li>
                    <li>Managers of some major blockchain user community in Vietnam</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Sun-Woo Chu</h3>
                <h4>Korean Strategic Partner</h4>
                <ul>
                    <li>Vice President, Korea International Finance Association</li>
                    <li>Element Founder & CEO</li>
                    <li>Former Money Today Innovation Strategy Team Asia Chief</li>
                    <li>Former One Asia Editor-in-Chief</li>
                    <li>Former Asia Today Multimedia Desk Editor/International Editor</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Pingping Wang</h3>
                <h4>Korean Strategic Partner</h4>
                <ul>
                    <li>Element Director, China Business</li>
                    <li>Money Today Innovation Strategy Team Reporter</li>
                    <li>One Asia Reporter</li>
                    <li>Asia Today Multimedia Desk & International Reporter</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Lin ChuiZhou</h3>
                <h4>Academician Advisor</h4>
                <ul>
                    <li>Academician of the Royal Swedish Academy of Sciences and Hong Kong Academy of Engineering Sciences</li>
                    <li>Former vice — principal of Hong Kong University of Science and technology and a former president of Industrial Technology Research Institute</li>
                    <li>Former Visiting professor of National University of Singapore,Tsinghua University, University of Science and Technology of China, Shanghai Jiaotong University and many prestigious Institutions at home and abroad</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Yushi Shen</h3>
                <h4>Strategic Advisor</h4>
                <ul>
                    <li>Secretary-General of China Cloud System Pioneer Strategic Alliance</li>
                    <li>BS, Electronic Engineering, Tsinghua University</li>
                    <li>MA, PH.D, computer science, University of California, San Diego</li>
                    <li>Researcher of Tsinghua and other prestigious universities</li>
                    <li>Strategic consultant for Microsoft</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="community background-secondary full-width">
        <div class="container team-group">
            <div class="row">
                <div class="sub-title-content">
                    <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">커뮤니티와 개발</h3>
                </div>
            </div>
            <div class="row team-container">
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>James Cheng</h3>
                    <h4>Head of Strategic Development</h4>
                    <ul>
                        <li>Part-time research staff of Tsinghua University, Serial entrepreneur</li>
                        <li>Executive Committee of China Cloud System Pioneer Strategic Alliance</li>
                        <li>Foreign Expert of Thailand Crypto Beach Association</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Larry Lin</h3>
                    <h4>Head of Business Development</h4>
                    <ul>
                        <li>Internet marketing community operation expert</li>
                        <li>Baidu encyclopedia operation</li>
                        <li>10+ years of digital advertising and internet industry</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Jimmy Zhao</h3>
                    <h4>TrueChain Global Strategic Partner</h4>
                    <ul>
                        <li>ZB group executive and founder of ZBX (ZB Europe)</li>
                        <li>Founder of Cryptonord</li>
                        <li>Partner of Y investment</li>
                        <li>Founder of ChainX</li>
                        <li>Runs a 10,000-bitcoin fund</li>
                        <li>A well-known core figure in the blockchain industry in Europe</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Hillary Nguyen</h3>
                    <h4>TrueChain Vietnamese Partner</h4>
                    <ul>
                        <li>Managing partner of Alphawhale Capital</li>
                        <li>A Strategist, Advisor, Communicator, Consultant, community influencer and Speaker in Blockchain, Digital asset management</li>
                        <li>With diverse set of skills, Hillary executes her management role effectively into the new foundation of company in revolution</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Paulus Pham</h3>
                    <h4>TrueChain Vietnamese Partner</h4>
                    <ul>
                        <li>Blockchain community management professional</li>
                        <li>Managers of some major blockchain user community in Vietnam</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Sun-Woo Chu</h3>
                    <h4>TrueChain Strategic partner of Korea</h4>
                    <ul>
                        <li>Vice President, Korea International Finance Association</li>
                        <li>Element Founder & CEO</li>
                        <li>Former Money Today Innovation Strategy Team Asia Chief</li>
                        <li>Former One Asia Editor-in-Chief</li>
                        <li>Former Asia Today Multimedia Desk Editor/International Editor</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Pingping Wang</h3>
                    <h4>TrueChain Strategic Partner of Korea</h4>
                    <ul>
                        <li>Element Director, China Business</li>
                        <li>Money Today Innovation Strategy Team Reporter</li>
                        <li>One Asia Reporter</li>
                        <li>Asia Today Multimedia Desk & International Reporter</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">고문</h3>
            </div>
        </div>
        <div class="row team-container">
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Lin ChuiZhou</h3>
                <h4>Academician Consultant of TrueChain</h4>
                <ul>
                    <li>Academician of the Royal Swedish Academy of Sciences and Hong Kong Academy of Engineering Sciences</li>
                    <li>Former vice — principal of Hong Kong University of Science and technology and a former president of Industrial Technology Research Institute</li>
                    <li>Former Visiting professor of National University of Singapore,Tsinghua University, University of Science and Technology of China, Shanghai Jiaotong University and many prestigious Institutions at home and abroad</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Yushi Shen</h3>
                <h4>Advisor to TrueChain</h4>
                <ul>
                    <li>The Secretary-General of China Cloud System Pioneer Strategic Alliance</li>
                    <li>BS, Electronic Engineering, Tsinghua University</li>
                    <li>MA, PH.D, computer science, University of California, San Diego</li>
                    <li>Panelist for China’s “the Thousand Talents Plan”</li>
                    <li>Researcher of Tsinghua and other prestigious universities</li>
                    <li>Strategic consultant for Microsoft</li>
                </ul>
            </div>
        </div>
    </div> -->
</div>
