<div class="team-section background-primary" *ngIf="english">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeIn">Our Team: <i>Global Community</i></h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeIn">Members from the United States, Vietnam, South Korea, China, European, and other countries.</p>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">Research and Developers Community</h3>
            </div>
        </div>
        <div class="row team-container">
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Eric Zhang</h3>
                <h4>CEO</h4>
                <ul>
                    <li>M.S. In Computer Science, Oxford University</li>
                    <li>Founder of DoraHacks</li>
                    <li>Researcher, CERN Open Lab (2013)</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Dylan Liu</h3>
                <h4>CTO</h4>
                <ul>
                    <li>B.S. & M.S. Computer Science, Tsinghua University</li>
                    <li>10+ years experience in development and system architecture</li>
                    <li>Cryptography and algorithms expert</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Kenny Zhou</h3>
                <h4>Product Team Lead</h4>
                <ul>
                    <li>Former co-founder &CTO at the Honest Doctor</li>
                    <li>More than 10 years of experience in large-scale distributed systems and architectures and products</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Felix Cai</h3>
                <h4>Front End Engineering Lead</h4>
                <ul>
                    <li>Youth Class, Xi’an Jiaotong University</li>
                    <li>Front End Hacker</li>
                    <li>First Prize, DoraHacks Autumn@Xi An 2017</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Ice Ming</h3>
                <h4>Integration lead</h4>
                <ul>
                    <li>10+ years experience in c/c++ development</li>
                    <li>Real time database products and digital currency transaction platform products expert</li>
                    <li>Participated in developing bitcoin and ethereum wallets</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Seay (Wizard)</h3>
                <h4>Security Coordinator</h4>
                <ul>
                    <li>Lead, Alibaba attack and security lab</li>
                    <li>Author of “Code Audit: Architecture of Enterprise Web Security”</li>
                    <li>Host of well-known security blog cnseay.com</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Neol Zeng</h3>
                <h4>Senior R&D Director</h4>
                <ul>
                    <li>Algorithmic Engineer</li>
                    <li>Eight years of C language development experiences</li>
                    <li>Having many years of overseas R&D experiences</li>
                    <li>Former Director of R&D and Operation of Well-known Artificial Intelligence Projects</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Brian Liu</h3>
                <h4>Blockchain Evangelist</h4>
                <ul>
                    <li>MSc and B.S from Peking University</li>
                    <li>Author of "Blockchain: 101"</li>
                    <li>10+ working year experience in software development, leading and coaching high performing teams</li>
                    <li>Worked in IBM China Development Lab (CDL) High Performance Computing team and "LERO - The Irish Software Engineering Research Center" Distributed Systems research group</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="community background-secondary full-width">
        <div class="container team-group">
            <div class="row">
                <div class="sub-title-content">
                    <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">Community and Development</h3>
                </div>
            </div>
            <div class="row team-container">
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>James Cheng</h3>
                    <h4>Head of Strategic Development</h4>
                    <ul>
                        <li>Part-time research staff of Tsinghua University, Serial entrepreneur</li>
                        <li>Executive Committee of China Cloud System Pioneer Strategic Alliance</li>
                        <li>Foreign Expert of Thailand Crypto Beach Association</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Larry Lin</h3>
                    <h4>Head of Business Development</h4>
                    <ul>
                        <li>Internet marketing community operation expert</li>
                        <li>Baidu encyclopedia operation</li>
                        <li>10+ years of digital advertising and internet industry</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Jimmy Zhao</h3>
                    <h4>TrueChain Global Strategic Partner</h4>
                    <ul>
                        <li>ZB group executive and founder of ZBX (ZB Europe)</li>
                        <li>Founder of Cryptonord</li>
                        <li>Partner of Y investment</li>
                        <li>Founder of ChainX</li>
                        <li>Runs a 10,000-bitcoin fund</li>
                        <li>A well-known core figure in the blockchain industry in Europe</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Hillary Nguyen</h3>
                    <h4>TrueChain Vietnamese Partner</h4>
                    <ul>
                        <li>Managing partner of Alphawhale Capital</li>
                        <li>A Strategist, Advisor, Communicator, Consultant, community influencer and Speaker in Blockchain, Digital asset management</li>
                        <li>With diverse set of skills, Hillary executes her management role effectively into the new foundation of company in revolution</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Paulus Pham</h3>
                    <h4>TrueChain Vietnamese Partner</h4>
                    <ul>
                        <li>Blockchain community management professional</li>
                        <li>Managers of some major blockchain user community in Vietnam</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Sun-Woo Chu</h3>
                    <h4>TrueChain Strategic partner of Korea</h4>
                    <ul>
                        <li>Vice President, Korea International Finance Association</li>
                        <li>Element Founder & CEO</li>
                        <li>Former Money Today Innovation Strategy Team Asia Chief</li>
                        <li>Former One Asia Editor-in-Chief</li>
                        <li>Former Asia Today Multimedia Desk Editor/International Editor</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Pingping Wang</h3>
                    <h4>TrueChain Strategic Partner of Korea</h4>
                    <ul>
                        <li>Element Director, China Business</li>
                        <li>Money Today Innovation Strategy Team Reporter</li>
                        <li>One Asia Reporter</li>
                        <li>Asia Today Multimedia Desk & International Reporter</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">Advisors</h3>
            </div>
        </div>
        <div class="row team-container">
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Lin ChuiZhou</h3>
                <h4>Academician Consultant of TrueChain</h4>
                <ul>
                    <li>Academician of the Royal Swedish Academy of Sciences and Hong Kong Academy of Engineering Sciences</li>
                    <li>Former vice — principal of Hong Kong University of Science and technology and a former president of Industrial Technology Research Institute</li>
                    <li>Former Visiting professor of National University of Singapore,Tsinghua University, University of Science and Technology of China, Shanghai Jiaotong University and many prestigious Institutions at home and abroad</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Yushi Shen</h3>
                <h4>Advisor to TrueChain</h4>
                <ul>
                    <li>The Secretary-General of China Cloud System Pioneer Strategic Alliance</li>
                    <li>BS, Electronic Engineering, Tsinghua University</li>
                    <li>MA, PH.D, computer science, University of California, San Diego</li>
                    <li>Panelist for China’s “the Thousand Talents Plan”</li>
                    <li>Researcher of Tsinghua and other prestigious universities</li>
                    <li>Strategic consultant for Microsoft</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="team-section background-primary" *ngIf="chinese">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeIn">我们的团队: <i>全球社区</i></h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeIn">成员来自美国、越南、韩国、中国、欧洲等国家。</p>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">研究和开发者社区</h3>
            </div>
        </div>
        <div class="row team-container">
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Eric Zhang</h3>
                <h4>CEO</h4>
                <ul>
                    <li>牛津大学计算机科学系理学硕士学位</li>
                    <li>DoraHacks的创始人</li>
                    <li>欧洲粒子物理实验室（CERN）研究员（2013年）</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Dylan Liu</h3>
                <h4>CTO</h4>
                <ul>
                    <li>清华大学计算机科学理学学士学位和硕士学位</li>
                    <li>10年以上的开发和系统架构经验</li>
                    <li>密码学和算法专家</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Kenny Zhou</h3>
                <h4>产品团队负责人</h4>
                <ul>
                    <li>Honest Doctor前联合创始人兼首席技术官</li>
                    <li>在大型分布式系统和架构及产品方面拥有超过10年的经验</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Felix Cai</h3>
                <h4>前端工程主管</h4>
                <ul>
                    <li>西安交通大学少年班</li>
                    <li>前端黑客</li>
                    <li>2017年DoraHacks秋季竞赛一等奖（西安）7</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Ice Ming</h3>
                <h4>集成主管</h4>
                <ul>
                    <li>10年以上c / c ++开发经验</li>
                    <li>实时数据库产品和数字货币交易平台产品专家</li>
                    <li>参与开发比特币和以太坊钱包</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Seay (Wizard)</h3>
                <h4>安全协调员</h4>
                <ul>
                    <li>阿里巴巴攻击和安全实验室主管</li>
                    <li>《代码审计：企业Web安全体系结构》的作者</li>
                    <li>著名的安全博客cnseay.com的博主</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Neol Zeng</h3>
                <h4>高级研发总监</h4>
                <ul>
                    <li>算法工程师</li>
                    <li>8年的C语言开发经验</li>
                    <li>拥有多年的海外研发经验</li>
                    <li>前知名人工智能项目研发和运营总监</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Brian Liu</h3>
                <h4>区块链传道者</h4>
                <ul>
                    <li>北京大学技术硕士和理学学士</li>
                    <li>《区块链：101》的作者</li>
                    <li>10年以上的软件开发、领导和指导高绩效团队的经验</li>
                    <li>曾在IBM中国开发实验室（CDL）高性能计算团队和“LERO - 爱尔兰软件工程研究中心”分布式系统研究小组工作</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="community background-secondary full-width">
        <div class="container team-group">
            <div class="row">
                <div class="sub-title-content">
                    <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">社区与发展</h3>
                </div>
            </div>
            <div class="row team-container">
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>James Cheng</h3>
                    <h4>战略发展主管</h4>
                    <ul>
                        <li>清华大学兼职研究人员，连续创业家</li>
                        <li>中国云系统先锋战略联盟执行委员会</li>
                        <li>泰国加密海滩协会的外国专家</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Larry Lin</h3>
                    <h4>商业发展主管</h4>
                    <ul>
                        <li>互联网营销社区运营专家</li>
                        <li>百度百科运营</li>
                        <li>10年以上的数字广告和互联网行业</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Jimmy Zhao</h3>
                    <h4>TrueChain全球战略合作伙伴</h4>
                    <ul>
                        <li>ZB集团执行官和ZBX创始人（ZB 欧洲）</li>
                        <li>Cryptonord的创始人</li>
                        <li>Y投资的合作伙伴</li>
                        <li>ChainX的创始人</li>
                        <li>运营10万比特币基金</li>
                        <li>欧洲区块链行业的知名核心人物</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Hillary Nguyen</h3>
                    <h4>TrueChain越南合作伙伴</h4>
                    <ul>
                        <li>Alphawhale Capital的管理合伙人</li>
                        <li>区块链和数字资产管理方面的战略家、顾问、传播者、顾问、社区影响者和演讲者</li>
                        <li>凭借多元化的技能，Hillary在公司变革过程中有效地将自己的管理角色发挥到公司的新基础上</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Paulus Pham</h3>
                    <h4>TrueChain越南合作伙伴</h4>
                    <ul>
                        <li>区块链社区管理专业人员</li>
                        <li>越南一些主要区块链用户社区的经理</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Sun-Woo Chu</h3>
                    <h4>TrueChain韩国战略合作伙伴</h4>
                    <ul>
                        <li>韩国国际金融协会副会长</li>
                        <li>Element的创始人兼CEO</li>
                        <li>前货币创新战略团队亚洲首席执行官</li>
                        <li>One Asia前总编辑</li>
                        <li>Asia Today前多媒体新闻台编辑/国际编辑</li>
                    </ul>
                </div>
                <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Pingping Wang</h3>
                    <h4>TrueChain韩国战略合作伙伴</h4>
                    <ul>
                        <li>Element中国业务总监</li>
                        <li>Money Today创新战略团队记者</li>
                        <li>One Asia记者</li>
                        <li>今日亚洲多媒体新闻台和国际记者</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container team-group">
        <div class="row">
            <div class="sub-title-content">
                <h3 class="hide-on-init" animateOnScroll animationName="animated fadeIn">顾问</h3>
            </div>
        </div>
        <div class="row team-container">
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Lin ChuiZhou</h3>
                <h4>TrueChain的院士顾问</h4>
                <ul>
                    <li>瑞典皇家科学院院士和香港工程科学院院士</li>
                    <li>曾任香港科技大学副校长，工业技术研究院前院长</li>
                    <li>新加坡国立大学、清华大学、中国科技大学、上海交通大学和国内外许多知名机构的前客座教授</li>
                </ul>
            </div>
            <div class="team-member hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <h3>Yushi Shen</h3>
                <h4>TrueChain顾问</h4>
                <ul>
                    <li>中国云计算系统先锋战略联盟秘书长</li>
                    <li>清华大学电子工程学学士</li>
                    <li>加州大学圣地亚哥分校计算机科学文学硕士和哲学博士</li>
                    <li>中国“千人计划”小组成员</li>
                    <li>清华大学和其他知名大学的研究员</li>
                    <li>微软战略顾问</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    