<app-hero id="home" #home></app-hero>
<app-stats id="stats" #stats></app-stats>
<app-what id="what" #what [ngClass]="{'offset-header': windowSize > 991}"></app-what>
<app-industry id="industry" #about [ngClass]="{'offset-header': windowSize > 991}"></app-industry>
<app-why id="why" #why [ngClass]="{'offset-header': windowSize > 991}"></app-why>
<app-use-cases id="use-cases" #usecases [ngClass]="{'offset-header': windowSize > 991}"></app-use-cases>
<app-case-studies id="case-studies" #casestudies [ngClass]="{'offset-header': windowSize > 991}"></app-case-studies>
<app-roadmaps id="roadmap" #roadmap [ngClass]="{'offset-header': windowSize > 991}"></app-roadmaps>
<app-partners id="partners" #partners [ngClass]="{'offset-header': windowSize > 991}"></app-partners>
<app-download id="download" #download></app-download>