<div class="partners-section  background-primary">
    <div class="container">
        <div class="row">
            <div class="title-content hide-on-init" animateOnScroll animationName="animated fadeInUp">
                <h2>Our Partners and Investors</h2>
                <p>If you are interested in becoming a partner or sponsor, please feel free to write us.</p>
            </div>
        </div>
        <div class="partners-container">   
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn">
                <img src="http://clarkeglobal.co/truechain/assets/partners/aws.png" alt="amazon web services">
            </div>
            <div class="partner-item hide-on-init"animateOnScroll animationName="animated fadeIn animated-delay-1">
                <img src="http://clarkeglobal.co/truechain/assets/partners/bithumb.png" alt="bithumb">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <img src="http://clarkeglobal.co/truechain/assets/partners/bw.png" alt="bw">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-3">
                <img src="http://clarkeglobal.co/truechain/assets/partners/crypto-capital.png" alt="crypto capital">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                <img src="http://clarkeglobal.co/truechain/assets/partners/crypto-nord.png" alt="crypto nord">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <img src="http://clarkeglobal.co/truechain/assets/partners/dorahacks.png" alt="dorahacks">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-3">
                <img src="http://clarkeglobal.co/truechain/assets/partners/hit-btc.png" alt="hit btc">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-4">
                <img src="http://clarkeglobal.co/truechain/assets/partners/trueway.png" alt="trueway">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <img src="http://clarkeglobal.co/truechain/assets/partners/microsoft.png" alt="microsoft">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-3">
                <img src="http://clarkeglobal.co/truechain/assets/partners/ub-vc.png" alt="ub vc">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-4">
                <img src="http://clarkeglobal.co/truechain/assets/partners/zb-capital.png" alt="zb capital">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-5">
                <img src="http://clarkeglobal.co/truechain/assets/partners/zb.png" alt="zb">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-3">
                <img src="http://clarkeglobal.co/truechain/assets/partners/okex.png" alt="okex">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-4">
                <img src="http://clarkeglobal.co/truechain/assets/partners/pandaq.png" alt="pandaq">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-5">
                <img src="http://clarkeglobal.co/truechain/assets/partners/paxos.png" alt="paxos">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-6">
                <img src="http://clarkeglobal.co/truechain/assets/partners/binance-dex.png" alt="binance dex">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-5">
                <img src="http://clarkeglobal.co/truechain/assets/partners/maker.png" alt="maker">
            </div>
        </div>
    </div>
</div>
