/* Partners section CSS */

.partners-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
h2 {
    margin-bottom: 20px;
}
.title-content {
    text-align: center;
    margin-bottom: 60px;
}
.partners-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.partner-item {
    padding: 15px;
    max-width: 500px;
    text-align: center;
}
.partner-item img{
    width: 200px;
    height: auto;
    box-shadow: 10px 10px 15px rgb(82, 82, 82);
}
