<div class="partners-section  background-primary">
    <div class="container">
        <div class="row">
            <div class="title-content hide-on-init" animateOnScroll animationName="animated fadeInUp">
                <h2>Our Partners and Investors</h2>
                <p>If you are interested in becoming a partner or sponsor, please feel free to write us.</p>
            </div>
        </div>
        <div class="partners-container">   
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn">
                <img src="http://clarkeglobal.co/truechain/assets/partners/p-logo1.30beb01.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                <img src="http://clarkeglobal.co/truechain/assets/partners/p-logo2.2c23de6.png" alt="">
            </div>
            <div class="partner-item hide-on-init"animateOnScroll animationName="animated fadeIn animated-delay-2">
                <img src="http://clarkeglobal.co/truechain/assets/partners/p-logo3.e556b79.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-3">
                <img src="http://clarkeglobal.co/truechain/assets/partners/p-logo4.a7081db.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                <img src="http://clarkeglobal.co/truechain/assets/partners/p-logo5.0e0d6b0.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <img src="http://clarkeglobal.co/truechain/assets/partners/p-logo6.9b852e5.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-3">
                <img src="http://clarkeglobal.co/truechain/assets/investors/partner1.0a318e4.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-4">
                <img src="http://clarkeglobal.co/truechain/assets/investors/partner2.0cc0540.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <img src="http://clarkeglobal.co/truechain/assets/investors/partner3.da1dd5a.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-3">
                <img src="http://clarkeglobal.co/truechain/assets/investors/partner4.9ad43cf.png" alt="">
            </div>
        
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-4">
                <img src="http://clarkeglobal.co/truechain/assets/investors/partner5.10dfe84.png" alt="">
            </div>
            <div class="partner-item hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-5">
                <img src="http://clarkeglobal.co/truechain/assets/investors/partner6.155c9f3.png" alt="">
            </div>
        </div>
    </div>
</div>
