/* What section CSS */

.what-section {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.what-video {
    max-width: 600px;
    height: auto;
}

.what-video video{
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,1));
    background: transparent;
}

.what-text {
    right: 0;
    padding-right: 0;
    max-width: 450px;
}
.what-text .what-button {
    width: 150px;
    height: auto;
    transition-duration: .3s;
}
.what-text .what-button {
    width: fit-content;
    height: fit-content;
    margin-right: 30px;
}
.what-text .what-button:hover {
    transform: scale(1.1);
    transition-duration: .3s;
}
.what-text .what-buttons{
    margin-top: 50px;
}


.what-text h2 {
    margin-bottom: 40px;
}

/* mobile responsiveness */
@media(max-width: 991px) {
    .col-md-6 {
        display: flex !important;
        flex-flow: column wrap !important;
        justify-content: center !important;
        align-content: center !important;
        padding-left: 20px;
    }
    .what-text {
        padding-top: 0px !important;
        margin-bottom: 40px;
        max-width: 1000px;
    }
    .what-video {
        max-width: 1000px;
  
    }
    .what-buttons {
        margin-right: -25px;
    }
}