<div class="what-section full-width" id="what">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="what-text pull-left">
                    <h2>What is TrueChain?</h2>
                    <p>TrueChain is the world's first public chain that implemented 
                        fPoW+ PBFT hybrid consensus and has a strong global open source 
                        developer community supporting it.</p>
                    <p>TrueChain provides the underlying public blockchain infrastructure 
                        with high performance and security for decentralized applications 
                        and financial transactions.</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="what-video pull-right">
                    <div class="dplayer dplayer-no-danmaku dplayer-paused">
                        <div class="dplayer-mask dplayer-mask-show"></div>
                        <div class="dplayer-video-wrap">
                            <video class="dplayer-video dplayer-video-current" webkit-playsinline="" 
                            playsinline="" preload="auto" poster="" src="https://qiniu.truescan.net/video/ad-zh.mp4">
                            </video>
                        </div>
                        <div class="dplayer-controller-mask"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
