<div class="what-section background-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-5 hide-on-init" animateOnScroll animationName="animated fadeIn">
                <div class="what-text" *ngIf="english">
                    <h2>What is TrueChain?</h2>
                    <p>TrueChain is the world's first public chain that implemented
                        fPoW+DPoS hybrid consensus and has a strong global open source
                        developer community supporting it.</p>
                    <p>TrueChain provides the underlying public blockchain infrastructure
                        with high performance and security for decentralized applications
                        and financial transactions.</p>
                    <div class="what-buttons">
                        <a class="what-button" href="#industry">
                            <button class="btn btn-secondary btn-lg">Learn More</button>
                        </a>
                    </div>
                </div>
                <div class="what-text" *ngIf="chinese">
                    <h2>什么是TrueChain (初链)?</h2>
                    <p>初链是世界上第一个实现fPoW + DPos混合共识的公链，并拥有强大的全球开源开发者社群支持。</p>
                    <p>初链为去中心化应用提供高性能和高安全性的公链基础设施。</p>
                    <div class="what-buttons">
                        <a class="what-button" href="#industry">
                            <button class="btn btn-secondary btn-lg">了解更多详情</button>
                        </a>
                    </div>
                </div>
                <div class="what-text" *ngIf="korean">
                    <h2>트루체인 소개</h2>
                    <p>트루체인은 fPoW+DPoS 하이브리드 컨센서스를 활용한 세계 최초의 퍼블릭 블록체인입니다.이를 지원하는 강력한 글로벌 오픈 소스 기술 커뮤니티도 함께 보유하고 있습니다.</p>
                    <p>트루체인은 디앱과 금융 거래에 높은 성능과 높은 보안성의 인프라 퍼블릭 블록체인을 제공합니다. </p>
                    <div class="what-buttons">
                        <a class="what-button" href="#industry">
                            <button class="btn btn-secondary btn-lg">더 알아보기</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-centered">
                <div class="what-video pull-right hide-on-init" animateOnScroll animationName="animated fadeInRight">
                    <video controls width="100%" height="auto" class="pull-right">
                        <source src="https://qiniu.truescan.net/video/ad-zh.mp4" type="video/mp4" />
                    Your browser does not support the video.
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
