/* What section CSS */

.what-section {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.what-image {
    max-width: 650px;
    max-height: 650px;
}

.what-image img{
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,1));
    background: transparent;
}

.what-text {
    right: 0;
    padding-right: 0;
    max-width: 450px;

}
.what-text .app-button img {
    width: 150px;
    height: auto;
    transition-duration: .3s;
}
.what-text .app-button {
    width: fit-content;
    height: fit-content;
    margin-right: 30px;
}
.what-text .app-button:hover img{
    transform: scale(1.1);
    transition-duration: .3s;
}
.what-text .what-buttons{
    margin-top: 50px;
}


.what-text h2 {
    margin-bottom: 40px;
}

/* mobile responsiveness */
@media(max-width: 991px) {
    .col-md-6 {
        display: flex !important;
        flex-flow: column wrap !important;
        justify-content: center !important;
        align-content: center !important;
        padding-left: 20px;
    }
    .what-text {
        padding-top: 0px !important;
        margin-bottom: 40px;
    }
    .app-button img{
        margin-bottom: 10px;
    }
    .what-buttons {
        text-align: center;
    }
}