<div class="what-section background-secondary" id="what">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="what-text pull-left">
                    <h2>What is TrueChain?</h2>
                    <p>TrueChain is the world's first public chain that implemented 
                        fPoW+ PBFT hybrid consensus and has a strong global open source 
                        developer community supporting it.</p>
                    <p>TrueChain provides the underlying public blockchain infrastructure 
                        with high performance and security for decentralized applications 
                        and financial transactions.</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="what-video pull-right">
                    <video controls autoplay>
                        <source src="https://qiniu.truescan.net/video/ad-zh.mp4" type="video/mp4" />
                    Your browser does not support the video.
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
