<!--about-hero section-->
<section class="about-hero-section">
    <!--about-hero wrap-->
    <div class="about-hero-wrap">
        <!--Particle effects background-->
        <div id="particles-js"></div>
        <!--about-hero section content-->
        <div class="content-wrap row">
        <div class="col-xs-12">
            <div class="about-hero-content">
                <h1 [@enterHeader]><strong style="color: #fff">About Us</strong></h1>
                <a [@enterButton] href="/truechain/about#tech"><button class="btn btn-primary btn-lg">Learn More</button></a> 
            </div>
        </div>
        </div>
    </div>
</section>