<!--about-hero section-->
<section class="about-hero-section">
    <!--about-hero wrap-->
    <div class="about-hero-wrap">
        <!--Particle effects background-->
        <div id="particles-js"></div>
        <!--about-hero section content-->
        <div class="content-wrap row">
        <div class="col-xs-12">
            <div class="about-hero-content" *ngIf="english">
                <h1 [@enterHeader]><strong style="color: #fff">About Us</strong></h1>
                <a [@enterButton] href="/about#tech"><button class="btn btn-primary btn-lg">Learn More</button></a>
            </div>
            <div class="about-hero-content" *ngIf="chinese">
                <h1 [@enterHeader]><strong style="color: #fff">关于我们</strong></h1>
                <a [@enterButton] href="/about#tech"><button class="btn btn-primary btn-lg">了解更多详情</button></a>
            </div>
            <div class="about-hero-content" *ngIf="korean">
                <h1 [@enterHeader]><strong style="color: #fff">회사 소개</strong></h1>
                <a [@enterButton] href="/about#tech"><button class="btn btn-primary btn-lg">더 알아보기</button></a>
            </div>
        </div>
        </div>
    </div>
</section>
