<div class="why-section background-primary">
    <div class="container">
        <div class="row title-content">
            <div class="col-xs-12">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp" *ngIf="english">
                    Why TrueChain?</h2>
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp" *ngIf="chinese">
                    为什么选择初链</h2>
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp" *ngIf="korean">
                  혁신 </h2>
            </div>
        </div>
        <div class="why-container" *ngIf="english">
            <div class="row">
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>A Streamlined Blockchain</h3>
                            <p>With its permissionless fPoW+DPoS hybrid consensus with secure sharding,
                                the conflict between efficiency and decentralization for permissionless
                                blockchains is solved by TrueChain.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-1">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>A Hybrid Consensus Incentive Model</h3>
                            <p>TrueChain is the first in the world to design an incentive model
                                for the governance of the hybrid consensus which will increase economic
                                awareness in relation to blockchain technology and compensation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-2">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>Strong Global Developer Community</h3>
                            <p>Among the new generation of permissionless blockchains,
                                TrueChain has a developer community that is the largest
                                in China and the fastest growing in the world.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-3">
                    <div class="why-item last">
                        <div class="why-content">
                            <h3>Solved Impossible Triangle</h3>
                            <p>TrueChain is the first working third generation public chain to solve the
                                most important problem in the public chain space, the "Impossible Triangle".</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-container" *ngIf="chinese">
            <div class="row">
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>一个简单高效的区块链</h3>
                            <p>无需授权的fPoW+DPoS混合共识加上并行计算技术，使得初链解决了无授权区块链的效率和去中心化之间的冲突。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-1">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>首个实现混合共识激励机制的公链</h3>
                            <p>初链是首个实现混合共识的公链，并设计了混合共识的激励机制和治理模型。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-2">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>强大的全球开发者社区</h3>
                            <p>在无许可公链中，初链拥有强大、快速发展的开发者社区。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-3">
                    <div class="why-item last">
                        <div class="why-content">
                            <h3>解决了“不可能三角”</h3>
                            <p>初链是第一个解决公链领域最重要问题“不可能三角”，且已经验证、稳定运行的第三代公链。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-container" *ngIf="korean">
            <div class="row">
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>효율적 블록체인</h3>
                            <p>트루체인은 무허가형 fPoW+DPoS의 하이브리드 컨센서스에 샤딩 메커니즘을 추가하여 확장성 방면의 문제를 해결합니다. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-1">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>하이브리드 컨센서스 인센티브 모델</h3>
                            <p>트루체인은 세계 최초로 블록체인 기술과 보상에 관련해 경제의식을 높여줄 하이브리드 컨센서 스의 관리 인센티브 모델을 설계합니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-2">
                    <div class="why-item">
                        <div class="why-content">
                            <h3>강력한 글로벌 개발자 커뮤니티</h3>
                            <p>새로운 세대의 무허가형 블록체인 중에서 트루체인은 중국에서 가장 크고 세계에서 가장 빠르게 성장 중인 개발자 커뮤니티를 보유하고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-3">
                    <div class="why-item last">
                        <div class="why-content">
                            <h3>불가능의 삼각형 해결</h3>
                            <p>트루체인은 퍼블릭 블록체인 공간에서 가장 중요한 문제인 “불가능의 삼각형(안전, 탈중앙화, 고효율 실현)” 을 해결한 현존하는 최초의 3세대 퍼블릭 블록체인입니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="why-button hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-3">
                    <a href="#use-cases" *ngIf="english">
                        <button class="btn btn-secondary btn-lg">Learn More</button>
                    </a>
                    <a href="#use-cases" *ngIf="chinese">
                        <button class="btn btn-secondary btn-lg">了解更多详情</button>
                    </a>
                    <a href="#use-cases" *ngIf="korean">
                        <button class="btn btn-secondary btn-lg">더 알아보기</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
