<div class="why-section background-primary">
    <div class="container">
        <div class="row title-content">
            <div class="col-xs-12">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">
                    Why TrueChain?</h2>
                <p  class="hide-on-init" animateOnScroll animationName="animated fadeInUp">
                    TrueChain is committed to be the next generation of decentralized blockchain infrastructure</p>
            </div>
        </div>
        <div class="why-container row">
            <div class="col-md-3 hide-on-init" animateOnScroll animationName="animated fadeInUp">
                <div class="why-item">
                    <div class="why-content">
                        <div class="why-icon">
                            <i class="fa fa-link fa-4x"></i>
                        </div>
                        <h3>A Streamlined Blockchain</h3>
                        <p>With its permissionless PBFT-fPoW hybrid consensus with secure sharding, 
                            the conflict between efficiency and decentralization for permissionless 
                            blockchains is solved by TrueChain.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-1">
                <div class="why-item">
                    <div class="why-content">
                        <div class="why-icon">
                            <i class="fa fa-sitemap fa-4x"></i>
                        </div>
                        <h3>A Hybrid Consensus Incentive Model</h3>
                        <p>TrueChain is the first in the world to design an incentive model 
                            for the governance of the hybrid consensus which will increase economic 
                            awareness in relation to blockchain technology and compensation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-2">
                <div class="why-item">
                    <div class="why-content">
                        <div class="why-icon">
                            <i class="fa fa-code fa-4x"></i>
                        </div>
                        <h3>Strong Global Developer Community</h3>
                        <p>Among the new generation of permissionless blockchains, 
                            TrueChain has a developer community that is the largest 
                            in China and the fastest growing in the world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hide-on-init" animateOnScroll animationName="animated fadeInUp animated-delay-3">
                <div class="why-item last">
                    <div class="why-content">
                        <div class="why-icon">
                            <i class="fa fa-dollar-sign fa-4x"></i>
                        </div>
                        <h3>Stable and Low Gas Fee Mechanism</h3>
                        <p>Zero gas fees are impossible for permissionless blockchains, nonetheless, 
                            TrueChain designed a stable and relatively low gas fee mechanism for more 
                            dApps to be built on it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>