<div class="tech-section background-primary">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">Our Technology</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">An efficient and secure blockchain for decentralized applications and finance</p>
            </div>
        </div>
        <div class="row tech-container">
            <div class="col-sm-6">
                <div class="tech first hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <div class="icon-box">
                        <i class="fas fa-balance-scale fa-5x"></i>
                    </div>
                    <p>Many public chains based on single consensus mechanisms, such as PoW or PoS, lack efficiency. 
                        On the other hand, those based on dPoS or dBFT have been efficient, but are have issues with decentralization. 
                        TrueChain uses hybrid consensus called Minerva, combining PBFT and fPoW, to solve the biggest problem confronting 
                        permissionless blockchains: the trade-off between decentralization and efficiency.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tech hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <div class="icon-box">
                        <i class="fas fa-shield-alt fa-5x"></i>
                    </div>
                    <p>We use PBFT as a fast-chain to process transactions and leave the oversight and election of PBFT to the hands of PoW nodes. 
                        Additionally, TrueChain integrates fruitchain technology into the traditional PoW protocol, i.e. fPoW, as the snailchain to 
                        make the chain even more decentralized. TrueChain has also added sharding on top of PBFT to allow for greater scalability.</p>
                </div>
            </div>
        </div>
    </div>
</div>