<div class="tech-section background-primary">
    <div class="container" *ngIf="english">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">Our Technology</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">An efficient and secure blockchain for decentralized applications and finance</p>
            </div>
        </div>
        <div class="row tech-container">
            <div class="col-sm-6">
                <div class="tech first hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <div class="icon-box">
                        <i class="fas fa-balance-scale fa-5x"></i>
                    </div>
                    <p>Many public chains based on single consensus mechanisms, such as PoW or PoS, lack efficiency. 
                        On the other hand, those based on dPoS or dBFT have been efficient, but are have issues with decentralization. 
                        TrueChain uses hybrid consensus called Minerva, combining DPos and fPoW, 
                        to solve the biggest problem confronting permissionless blockchains: the trade-off between decentralization and efficiency.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tech hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <div class="icon-box">
                        <i class="fas fa-shield-alt fa-5x"></i>
                    </div>
                    <p>We use the DPos Committee as a fast chain to process transactions and give the committee's oversight to the pow node. 
                        In addition, the initial chain also integrates the fruit chain technology into the traditional POW algorithm protocol 
                        and implements the fpow protocol.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="chinese">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">我们的技术</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">一条适用于去中心化应用和金融的高效安全区块链</p>
            </div>
        </div>
        <div class="row tech-container">
            <div class="col-sm-6">
                <div class="tech first hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <div class="icon-box">
                        <i class="fas fa-balance-scale fa-5x"></i>
                    </div>
                    <p>许多基于单一共识机制的公链的效率不高，例如PoW或PoS。另外，虽然基于dPoS或dBFT的公链效率很高，但是在去中心化方面存在问题。
                        初链最早实现fPoW+DPoS混合共识，解决了公链面临的最大问题——不可能三角，即去中心化、安全与效率之间的矛盾。</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tech hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <div class="icon-box">
                        <i class="fas fa-shield-alt fa-5x"></i>
                    </div>
                    <p>我们使用DPoS委员会作为快速链来处理交易，并将委员会的监督交给PoW节点。除此之外， 
                        初链还将水果链（fruitchain）技术集成到传统的PoW算法协议中，实现了fPoW协议。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="korean">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">자사의 기술</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">효율적이고 안전한  탈중앙화 애플리케이션 및 금융 블록체인</p>
            </div>
        </div>
        <div class="row tech-container">
            <div class="col-sm-6">
                <div class="tech first hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <div class="icon-box">
                        <i class="fas fa-balance-scale fa-5x"></i>
                    </div>
                    <p>PoW 또는 PoS와 같은 단일 합의 메커니즘을 기반으로 하는 많은 공개형 체인은 효율성이 떨어집니다. 
                        반면, DPoS 또는 dBFT 기반은 효율적이지만 탈중앙화에는 문제가 있습니다. 
                        TrueChain은 DPoS와 fPoW를 결합한 Minerva라는 하이브리드 합의를 사용하여 무허가 블록체인이 직면한 가장 큰 문제인 탈중앙화와 효율성 간의 균형을 해결합니다.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tech hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <div class="icon-box">
                        <i class="fas fa-shield-alt fa-5x"></i>
                    </div>
                    <p>우리는 DPoS 위원회를 빠른 체인으로 거래를 처리해 위원회의 감독을 PoW 노드를 넘겨준다.
                        이 외에도 첫 사슬은 과일 체인 (fruitchain) 기술을 전통적인 PoW 알고리즘 프로토콜로 집성했다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
