<div class="tech-section background-primary">
    <div class="container" *ngIf="english">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">Our Technology</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">An efficient and secure blockchain for decentralized applications and finance</p>
            </div>
        </div>
        <div class="row tech-container">
            <div class="col-sm-6">
                <div class="tech first hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <div class="icon-box">
                        <i class="fas fa-balance-scale fa-5x"></i>
                    </div>
                    <p>Many public chains based on single consensus mechanisms, such as PoW or PoS, lack efficiency.
                        On the other hand, those based on dPoS or dBFT have been efficient, but are have issues with decentralization.
                        TrueChain uses hybrid consensus called Minerva, combining PBFT and fPoW, to solve the biggest problem confronting
                        permissionless blockchains: the trade-off between decentralization and efficiency.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tech hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <div class="icon-box">
                        <i class="fas fa-shield-alt fa-5x"></i>
                    </div>
                    <p>We use PBFT as a fast-chain to process transactions and leave the oversight and election of PBFT to the hands of PoW nodes.
                        Additionally, TrueChain integrates fruitchain technology into the traditional PoW protocol, i.e. fPoW, as the snailchain to
                        make the chain even more decentralized. TrueChain has also added sharding on top of PBFT to allow for greater scalability.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="chinese">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">我们的技术</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">一条适用于去中心化应用和金融的高效安全区块链</p>
            </div>
        </div>
        <div class="row tech-container">
            <div class="col-sm-6">
                <div class="tech first hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <div class="icon-box">
                        <i class="fas fa-balance-scale fa-5x"></i>
                    </div>
                    <p>许多基于单一共识机制的公链的效率不高，例如PoW或PoS。另外，虽然基于dPoS或dBFT的公链效率很高，但是在去中心化方面存在问题。
                        初链最早实现PBFT-fPoW混合共识，解决了公链面临的最大问题——不可能三角，即去中心化、安全与效率之间的矛盾。</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tech hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <div class="icon-box">
                        <i class="fas fa-shield-alt fa-5x"></i>
                    </div>
                    <p>我们使用PBFT委员会作为快速链来处理交易，并将PBFT的监督和选举交给PoW节点。除此之外，
                      初链还将水果链（fruitchain）技术集成到传统的PoW算法协议中，实现了fPoW协议。</p>
                </div>
            </div>
        </div>
    </div>
</div>
