<div class="roadmaps-section full-width" id="roadmaps">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2>Roadmap</h2>
            </div>
        </div>
        <div class="row roadmaps-container">
            <div class="col-xs-4">
                <div class="roadmap-item">
                    <div class="icon-container col-xs-3">
                        <i></i>
                    </div>
                    <div class="roadmap-text col-xs-9">
                        <h3>Lorem Mipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="roadmap-item">
                    <div class="icon-container col-xs-3">
                        <i></i>
                    </div>
                    <div class="roadmap-text col-xs-9">
                        <h3>Lorem Mipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="roadmap-item">
                    <div class="icon-container col-xs-3">
                        <i></i>
                    </div>
                    <div class="roadmap-text col-xs-9">
                        <h3>Lorem Mipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>