/* Roadmap section CSS */

.roadmaps-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.row:before, row:after {
    display: inline-block;
}
.title-content {
    text-align: center;
    margin-bottom: 60px;
}
.roadmaps-container {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 0;
}
.roadmaps-container::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #203260;
    top: 1.7%;
    bottom: 210px;
    left: 50%;
    border-radius: 10px;
    margin-left: -3px;
}
.roadmaps-container.adjust-bottom::after {
    bottom: 21%;
}
.roadmap-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    z-index: 2;
}
.roadmap-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10.5px;
    background-color: #203260;
    border: 4px solid #203260;
    top: 15px;
    border-radius: 50%;
  }
.left {
    left: 0;
}
.right {
    left: 50%;
}
.right::after {
    left: -14.3px;
    right: 0;
  }
.roadmap-text {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    background-color: #203260;
    transition-duration: .5s;
}
.roadmap-text:hover {
    background-color: #252931;
    transition-duration: .5s;
}
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #252931;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #203260;
    transition-duration: .5s;
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #252931;
    border-width: 10px 10px 10px 0;
    border-color: transparent #203260 transparent transparent;
    transition-duration: .5s;
}
.left .roadmap-text {
    text-align: right;
}
.roadmap-text h3 {
    margin-top: 0;
    margin-bottom: 0;
    transition-duration: .3s;
    color: #fff;
}
.roadmap-text p.sub {
    margin-bottom: 10px;
    font-weight: 400;
    transition-duration: .3s;
    color: #fff;
}

.roadmap-text li{
    color: #fff;
    transition-duration: .3s;
}

.roadmap-text:hover h3,
.roadmap-text:hover p.sub,
.roadmap-text:hover li {
    color: #fff;
    transition-duration: .3s;
}

.roadmap-item.right .roadmap-text ul {
    padding: 0;
    padding-left: 20px;
}
.roadmap-item.left .roadmap-text ul {
    padding: 0;
    padding-right: 20px;
}
.roadmap-item.left .roadmap-text ul.mobile {
    display: none;
}
.roadmap-item.left .roadmap-text ul.desktop {
    display: block;
}
.icon-container {
    border: 1px solid #000;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    background-color: #203260;
    margin-top: 20px;
}
.icon-container h3 {
    margin: auto;
    color: #fff;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media (max-width: 1199px) {
    .roadmaps-container::after {
        bottom: 20.3%;
    }
  }
@media (max-width: 991px) {
    .roadmaps-container::after {
        left: 31px;
        bottom: 180px; 
    }
    .roadmap-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .left .roadmap-text {
        text-align: left;
    }
    .roadmap-item::before {
        left: 60px;
        border: medium solid #252931;
        border-width: 10px 10px 10px 0;
        border-color: transparent #252931 transparent transparent;
    }
    .left::after, .right::after {
        left: 16.45px;
    }
    .right {
        left: 0%;
    }
    .roadmap-item.left .roadmap-text ul.mobile {
        display: block;
        padding: 0;
        padding-left: 20px;
    }
    .roadmap-item.left .roadmap-text ul.desktop {
        display: none;
    }
  }
  @media (max-width: 767px) {
    .roadmaps-container::after {
        bottom: 13.8em;
    }
  }
  @media (max-width: 621px) {
    .roadmaps-container::after {
        bottom: 16.5em;
    }
  }
  @media (max-width: 421px) {
    .roadmaps-container::after {
        bottom: 18em;
    }
  } 
  @media (max-width: 401px) {
    .roadmaps-container::after {
        bottom: 20.6em;
    }
  } 
  @media (max-width: 359px) {
    .roadmaps-container::after {
        bottom: 22em;
    }
  } 
  @media (max-width: 337px) {
    .roadmaps-container::after {
        bottom: 25.2em;
    }
  } 

  @media (min-width: 337px) and (max-width: 351px) {
    .roadmaps-container::after {
        bottom: 26.2em;
    }
  } 
  @media (max-width: 325px) {
    .roadmaps-container::after {
        bottom: 28em;
    }
  } 