<div class="roadmaps-section background-secondary">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">Roadmap</h2>
            </div>
        </div>
        <div class="row ">
            <div class="center-block" >
                <div class="roadmaps-container">
                    <div class="roadmap-item left hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                        <div class="roadmap-text">
                            <h3>Lorem Mipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                        </div>
                    </div>
                    <div class="roadmap-item right hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                        <div class="roadmap-text">
                            <h3>Lorem Mipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                        </div>
                    </div>
                    <div class="roadmap-item left hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-3">
                        <div class="roadmap-text">
                            <h3>Lorem Mipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>