/* Roadmap section CSS */

.roadmaps-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.title-content {
    text-align: center;
    margin-bottom: 60px;
}
.roadmaps-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.roadmap-item {
    padding: 15px;
    max-width: 500px;
}

.roadmap-text h3 {
    margin-bottom: 30px;
}
.icon-container {
    border: 1px solid #000;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    background-color: #203260;
    margin-top: 20px;
}
.icon-container h3 {
    margin: auto;
    color: #fff;
  
}