<div class="use-cases-section background-secondary">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp">Use Cases</h2>
            </div>
        </div>
        <div class="row use-cases-container">
            <div class="use-case hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                <div class="icon-box">
                    <i class="far fa-star fa-4x"></i>
                </div>
                <h4>High Quality</h4>
                <p>We are the leading firm by delivering quality and value to our clients.</p>
            </div>
            <div class="use-case hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="far fa-clock fa-4x"></i>
                </div>
                <h4>Unique Experience</h4>
                <p>All our professionals have more than 5 years of legal experiences.</p>
            </div>
            <div class="use-case hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="far fa-comments fa-4x"></i>
                </div>
                <h4>Good Support</h4>
                <p>Our managers are always ready to answer your questions. You can call us at the weekends and at night.</p>
            </div>
            <div class="use-case hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="fas fa-gift fa-4x"></i>
                </div>
                <h4>Nice Gifts</h4>
                <p>We like to make people happy. We ask our clients about their birthday and prepare cool presents.</p>
            </div>
            <div class="use-case hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="fas fa-users fa-4x"></i>
                </div>
                <h4>Individual Approach</h4>
                <p>This method lets us to get success in problems of all levels.</p>
            </div>
            <div class="use-case hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                <div class="icon-box">
                    <i class="fas fa-wifi fa-4x"></i>
                </div>
                <h4>Effective Services</h4>
                <p>We take care about our clients time. Just call us — and we will help you with all the questions.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="use-cases-button hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <a href="#">
                        <button class="btn btn-secondary btn-lg">Get Started</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
