<div class="case-studies-section">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp" style="color: #fff;">Case Studies</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">See how TrueChain's blockchain is being used today</p>
            </div>
        </div>
        <div class="row use-cases-container">
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <h4>TrueChain used as the infrastructure for digital assets</h4>
                    <p>TrueChain is not only building an infrastructure for dApps, 
                        but also building an infrastructure for global assets. Recently 
                        TrueChain incubated Pandaq, with 8 Decimal Capital. Through the 
                        asset tokenization platform, 8 homes on the beautiful Ko Samui Island 
                        were tokenized in April 2019. More assets are lined up to be tokenized on TrueChain.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h4>First public chain with multiple coins and access to exchanges</h4>
                    <p>TrueChain has reached coorperation with MakerDao stable coin and will 
                        issue TrueChain stablecoin Dai in the near future. TrueChain will work 
                        with the top stable coin projects like Pax, TrueUSD and many more to issue 
                        stable coins on TrueChain. The TrueChain version of each stablecoin will be 
                        traded on exchanges and OTC.</p>
                </div>
            </div>
        </div>
    </div>
</div>