<div class="case-studies-section">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp" style="color: #fff;">Case Studies</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">See how TrueChain's blockchain is being used today</p>
            </div>
        </div>
        <div class="row use-cases-container">
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <h3>The infrastructure for digital assets</h3>
                    <p>TrueChain is not only building an infrastructure for dApps, 
                        but also building an infrastructure for global assets. Recently 
                        TrueChain incubated Pandaq, with 8 Decimal Capital. Through the 
                        asset tokenization platform, 8 homes on the beautiful Ko Samui Island 
                        were tokenized in April 2019. More assets are lined up to be tokenized on TrueChain.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Supporting Crosschain Assets</h3>
                    <p>Through TrueBridge, TrueChain is able to bring any assets from any blockchain
                         to TrueChain's infrastructure. Recently, Binance DEX listed TRUE-D84 by bridging 
                         TRUE to Binance Chain. Top stable coin projects such as PAX and MakerDAO DAI will also 
                         be brought to TrueChain in near future.</p>
                </div>
            </div>
        </div>
    </div>
</div>