<div class="case-studies-section">
    <div class="container" *ngIf="english">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp" style="color: #fff;">Case Studies</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">See how TrueChain's blockchain is being used today</p>
            </div>
        </div>
        <div class="row use-cases-container">
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <h3>The infrastructure for digital assets</h3>
                    <p>TrueChain is not only building an infrastructure for dApps,
                        but also building an infrastructure for global assets. Recently
                        TrueChain incubated Pandaq, with 8 Decimal Capital. Through the
                        asset tokenization platform, 8 homes on the beautiful Ko Samui Island
                        were tokenized in April 2019. More assets are lined up to be tokenized on TrueChain.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>Supporting Crosschain Assets</h3>
                    <p>Through TrueBridge, TrueChain is able to bring any assets from any blockchain
                         to TrueChain's infrastructure. Recently, Binance DEX listed TRUE-D84 by bridging
                         TRUE to Binance Chain. Top stable coin projects such as PAX and MakerDAO DAI will also
                         be brought to TrueChain in near future.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="chinese">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp" style="color: #fff;">实例探究</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">了解初链区块链目前的应用状况</p>
            </div>
        </div>
        <div class="row use-cases-container">
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <h3>初链作为数字资产的基础设施</h3>
                    <p>初链不仅为去中心化的应用程序搭建基础架构，还为全球数字资产构建基础架构。最近，
                        初链和8 Decimal Capital联合孵化了Pandaq。通过Pandaq这一资产代币化平台，
                        位于美丽的苏梅岛上的8所房屋于2019年4月完成了资产代币化。未来将有更多资产将在初链上进行资产代币化。</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>支持跨链资产</h3>
                    <p>通过TrueBridge，TrueChain能够将任何区块链中的任何资产迁移到TrueChain的基础架构中。
                        最近，Binance DEX通过将TRUE桥接到Binance Chain资产编号TRUE-D84。 PAX和MakerDAO
                        DAI等顶级稳定币项目也将在不久的将来加入TrueChain。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="korean">
        <div class="row">
            <div class="title-content">
                <h2 class="hide-on-init" animateOnScroll animationName="animated fadeInUp" style="color: #fff;">연구 사례</h2>
                <p class="hide-on-init" animateOnScroll animationName="animated fadeInUp">오늘날 TrueChain의 블록체인이 어떻게 사용되고 있는지 확인하세요</p>
            </div>
        </div>
        <div class="row use-cases-container">
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-1">
                    <h3>디지털 자산  인프라</h3>
                    <p>TrueChain은 dApp을 위한 인프라를 구축할 뿐만 아니라 글로벌 자산으로서의 인프라 또한 구축하고 있습니다. 
                        최근 TrueChain은 8 Decimal Capital과 함께 Pandaq를 설립했습니다. 자산 토큰화 플랫폼을 통해 2019년 4월 아름다운 코 사무이 섬에 
                        있는 8개의 주택이 토큰화 되었습니다. TrueChain에는 토큰화를 기다리는 더 많은 자산들이 있습니다.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="case-study hide-on-init" animateOnScroll animationName="animated fadeIn animated-delay-2">
                    <h3>크로스 체인 자산 지원</h3>
                    <p>TrueBridge를 통해 TrueChain은 모든 블록체인의 자산을 TrueChain의 인프라화 할 수 있습니다. 
                        최근 Binance DEX는 TRUE를 Binance Chain에 연결하여 TRUE-D84를 상장 하였습니다. 
                        PAX 및 MakerDAO DAI와 같은 최고로 안정적인 코인 프로젝트들도 가까운 미래에 TrueChain과 조우할 것입니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>
