/* Achievements section CSS */

.achievements-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.achievement {
    padding: 35px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px #000 solid;
    border-radius: 15px;
    text-align: center;
}
.achievement h3 {
    margin-bottom: 30px;
}

.title-content {
    text-align: center;
    margin-bottom: 60px;
}