<div class="achievements-section full-width" id="achievements">
    <div class="container">
        <div class="row">
            <div class="title-content">
                <h2>Recent Achievements</h2>
                <p>"If you don't try this software, you won't become the superhero you were meant to be"</p>
            </div>
        </div>
        <div class="row achievements-container">
            <div class="col-xs-6">
                <div class="achievement">
                    <h3>Solved Impossible Triangle</h3>
                    <p>TrueChain is the first working third generation public chain 
                        to solve the most important problem in the public chain space, 
                        the "Impossible Triangle".</p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="achievement">
                    <h3>Fast Growing Ecosystem</h3>
                    <p>Large numbers of Dapps, games, stable coins, 
                        Defi applications and layer-2 infrastructures 
                        are building on TrueChain.</p>
                </div>
            </div>
        </div>
    </div>
</div>